# Preprocessing for Nitrogen Loading Model (Nload)

## Objectives

Within subwatersheds of the Great, Green, and Bourne ponds drainages, reclassify Massachusetts 2016 land cover layer to include cranberry agriculture into 13 categories for use in Nload. Repeat this for baseline conditions, and several scenarios.

Future scenarios could include increasing population and impervious area by displacing natural areas. Growth of cranberry agriculture in uplands with modern cranbery hybrids. Retirement and/or restoration of older and flowthrough bogs. Replacement of older flowthrough bogs with new hybdrids. Upgrades to wastewater treatment facilities. 


## References 
Kennedy, C. D., & Hoekstra, B. R. (2021). Measuring and modeling nitrogen export from cranberry farms. Ecosphere, 12(12), 1–15. https://doi.org/10.1002/ecs2.3686

Valiela, I., Geist, M., McClelland, J., & Tomasky, G. (2000). Nitrogen loading from watersheds to estuaries: Verification of the Waquoit Bay Nitrogen Loading Model. Biogeochemistry, 49(3), 277–293. https://doi.org/10.1023/A:1006345024374

Valiela, I., Collins, G., Kremer, J., Lajtha, K., Geist, M., Seely, B., … Sham, C. H. (1997). Nitrogen loading from coastal watersheds to receiving estuaries: New method and application. Ecological Applications, 7(2), 358–380. https://doi.org/10.1890/1051-0761(1997)007[0358:NLFCWT]2.0.CO;2

## Set up environment

In [319]:
# Load dependancies ***************************************
import arcpy as ap
import os, glob, re, sys
import pandas as pd
import numpy as np
#import scipy.stats

# Set up arcpy environment ******************************
# input data directory
idr = "C:\\Workspace\\Geodata\\Massachusetts\\"
# working directory this should be where arcgis project is located
wdr = "C:\\Workspace\\Geodata\\Nload\\"
# output directory
odr = os.path.join(wdr,'outputs')
# arcpy settings
ap.env.workspace = wdr # set arcpy environment working directory
aprx = arcpy.mp.ArcGISProject("Current") # current project
ap.CheckOutExtension("Spatial") # check out spatial extension
ap.env.outputCoordinateSystem = arcpy.SpatialReference("NAD 1983 UTM Zone 19N") # define cordinate system
# Allow overwriting of output
arcpy.env.overwriteOutput = True
#ap.SetProgressor("step", "processing...", step_value = 5)

Tip: see this [page](https://pro.arcgis.com/en/pro-app/latest/arcpy/functions/setprogressor.htm) for tips on arcpy settings. 

Tip: Use `os.path.join` to safely concatenate file paths. To do this enter folder names in quotes separated by commas.

Tip: Test in the geoprocessing tab first, then, once working, can copy python code from the geoprocessing tab when you click on the arrow next to `run`!

In [320]:
# check that directories exist
if os.path.exists(wdr) is False:
    sys.exit(wdr+" does not exist")
if os.path.exists(idr) is False:
    sys.exit(idr+" does not exist")
if os.path.exists(odr):
    print(odr+" already exists")
else:
    os.mkdir(odr)

C:\Workspace\Geodata\Nload\outputs already exists

Tip: Use `arcpy.FeatureSet` to add an input feature as an object to the current environment. Alternatively, `arcpy.management.MakeFeatureLayer` can be used to add input feature as a layer to the current project. The added layer should appear on the map. `arcpy.Copyfeatures_management` works in a similar way to `MakeFeatureLayer`. 

## Load input files

In [321]:
# Add Input Data *********************************** 
# Massachusetts 2016 Land Use Land Cover Layer 
path = os.path.join(idr,"lclu_gdb","MA_LCLU2016.gdb","LANDCOVER_LANDUSE_POLY")
MA_LCLU2016 = ap.FeatureSet(path)
ap.management.MakeFeatureLayer(path,"in_lclu16")

# Massachusetts cranberry agriculture (source: Jim McLaughlin)
# this needs to be updated
path = os.path.join(idr,'WMAbogsDRAFT2013\\WMAbogsDRAFT2013.shp')
os.path.exists(path)
arcpy.CopyFeatures_management(path,"in_bogs")
bogs = ap.FeatureSet(path)
#ap.management.MakeFeatureLayer(path, "lyr_ggbp")
path = os.path.join(idr,'Wareham_Bogs_v3\\WarehamBogs_master_v3.shp')
os.path.exists(path)
arcpy.CopyFeatures_management(path,"in_wareham_bogs")
wareham_bogs = ap.FeatureSet(path)

#ap.management.MakeFeatureLayer(path, "lyr_ggbp")
path = os.path.join('in_ggbp_Clip')
os.path.exists(path)
#arcpy.CopyFeatures_management(path,"in_ggbp_bogs")
ap.management.MakeFeatureLayer(path,"in_ggbp_bogs")
ggbp_bogs = ap.FeatureSet(path)

# Subcatchments of Agawam (Wareham) with terminus classifications
path = os.path.join(idr,"agawam_WS","agawam_subw_0309.shp")
agawam = ap.FeatureSet(path)
ap.management.MakeFeatureLayer(path,"in_agawam")

# Subcatchments of Great, Green, and Bourne Ponds with terminus classifications
path = os.path.join(idr,"GGBsheds","Great_Green_Bourne_Ponds.shp")
os.path.exists(path)
ggbp = ap.FeatureSet(path)
ap.management.MakeFeatureLayer(path,"in_ggbp")

## Main Program

### Part 1: Combine spatial layers

`arcpy.analysis.Intersect` (A) land use and (B) subwatershed Layer.

inFeat = "in_lclu16"
identFeat = "prj_agawam"
identOutput = "out_lclu16_agawam_ident"
arcpy.analysis.Identity(inFeat, identFeat, identOutput, "ALL", None, "NO_RELATIONSHIPS")

inFeat = "prj_wareham_bogs"
identFeat = identOutput
identOutput = "out_lclu16_agawam_cran_ident"
arcpy.analysis.Identity(inFeat, identFeat, identOutput, "ALL", None, "NO_RELATIONSHIPS")

In [322]:
# Intersect MA land use layer with subwatershed layer
inFeatures = [MA_LCLU2016, ggbp]

In [323]:
intersectOutput = "out_ggbp_lclu16"

In [324]:
arcpy.analysis.Intersect(inFeatures, intersectOutput, "", "", "INPUT")

Spatial (A) join cranberry and (B) intersection of subwatershed land use layers.

In [325]:
inFeat = intersectOutput
identFeat = "in_ggbp_bogs"
identOutput = "out_lclu16_ggbp_cran_ident"

In [326]:
arcpy.analysis.Identity(inFeat, identFeat, identOutput, "ALL", None, "NO_RELATIONSHIPS")

Calculate area of polygons in hectares and export attribute tables to pandas dataframe

In [327]:
def fn_Calculate_Area_Ha(fc):
    # calculate area in hectares and add column to attribute table
    arcpy.management.CalculateGeometryAttributes(fc,
                                             "Area_Ha AREA_GEODESIC",
                                             '', "HECTARES", None, "SAME_AS_INPUT")

# path to feature class
fc1 = "in_ggbp"
fn_Calculate_Area_Ha(fc1)

In [328]:
fc2 = identOutput
fn_Calculate_Area_Ha(fc2)

In [329]:
def fn_featureClass_Attributes_to_DataFrame(fc):
    # list of field names that excludes the shape geometry (including geometry messes this up)
    flds = [fld.name for fld in arcpy.ListFields(fc) if fld.name != arcpy.Describe(fc).shapeFieldName]
    arr = arcpy.da.FeatureClassToNumPyArray(fc,flds)
    df = pd.DataFrame(arr)
    return(df)

in_df1 = fn_featureClass_Attributes_to_DataFrame(fc1).rename(columns={'SHED_ID':'SUB','Terminal_N':'Terminus'})

In [330]:
in_df2 = fn_featureClass_Attributes_to_DataFrame(fc2).rename(columns={'SHED_ID':'SUB','Terminal_N':'Terminus'})

In [331]:
# check that area of the inputs and outputs match closely
Total_Area1 = in_df1.Area_Ha.sum()
Total_Area2 = in_df2.Area_Ha.sum()
print(fc1+" Area (Ha):"+str(Total_Area1))
print(fc2+" Area (Ha):"+str(Total_Area2))
print("Difference in Area:"+str(Total_Area1 - Total_Area2)) # difference should be close to 0.0

in_ggbp Area (Ha):4582.647164184
out_lclu16_ggbp_cran_ident Area (Ha):4582.646524428548
Difference in Area:0.0006397554516297532

In [332]:
# write attribute tables to csv
in_df1.to_csv(os.path.join(odr,fc1+".csv"))
in_df2.to_csv(os.path.join(odr,fc2+".csv"))

### Part 1: Reclassify combined layers for Nload Scenarios

Read excel tables with subwatershed land use area and terminus information

In [333]:
# Subwatershed land use area
inname1 = "in_ggbp"
inname2 = "out_lclu16_ggbp_cran_ident"
in_df1 = pd.read_csv(os.path.join(odr,inname1+'.csv')).rename(columns={'SHED_ID':'SUB','Terminal_N':'Terminus'})

# Subwatershed catchment ids and terminus information
in_df2 = pd.read_csv(os.path.join(odr,inname2+'.csv')).rename(columns={'SHED_ID':'SUB','Terminal_N':'Terminus','Bog_Type':'Bog_type'})

sys:1: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.

In [334]:
display(in_df1)
display(in_df2)

    Unnamed: 0  FID  SUB  ...     Shape_len  Terminus     Area_Ha
0            0    0    4  ...   6853.937704         p   71.783290
1            1    1    6  ...   6260.229310         p   53.071712
2            2    2    2  ...   8890.501888         p  352.846203
3            3    3    5  ...   4807.831317         p   65.209861
4            4    4    3  ...   4271.582585         p   37.019734
5            5    5    7  ...   6005.219838         p   78.128171
6            6    6    9  ...   5747.750306         p   87.236109
7            7    7   15  ...   3451.244741         p   22.884859
8            8    8   12  ...   6000.947958         p   54.522097
9            9    9   10  ...   9845.974167         p  213.377284
10          10   10    8  ...   1858.085259         p   15.710124
11          11   11   13  ...   4165.017569         p   59.834427
12          12   12   11  ...   1540.001310         p   16.034563
13          13   13   14  ...   3220.507968         p   42.482973
14          14   14   18  ...  10089.900683         s  309.481145
15          15   15   23  ...   3548.389635         p   51.401954
16          16   16    1  ...  20696.124556         p  623.933841
17          17   17   17  ...  13901.033909         s  162.831477
18          18   18   25  ...   9056.136113         s  130.431283
19          19   19   28  ...  10573.878776         s  134.629637
20          20   20   16  ...   5773.200642         p   75.708230
21          21   21   20  ...   4585.560981         p   35.533065
22          22   22   22  ...   5261.788461         p  102.655018
23          23   23   21  ...   3690.122942         p   66.327722
24          24   24   26  ...   8147.386465         s  175.406172
25          25   25   19  ...  11291.923980         s  352.175577
26          26   26   29  ...   6016.636005         s  152.648296
27          27   27   33  ...   4236.144707         p   37.585830
28          28   28   31  ...   5239.329141         e   58.883861
29          29   29   24  ...  12406.803299         e  386.017539
30          30   30   27  ...   8944.444312         e  298.314815
31          31   31   32  ...   7779.061208         e  204.751610
32          32   32   30  ...   3556.103323         e   53.788684

[33 rows x 8 columns]

       Unnamed: 0    FID  FID_out_gg  ...   Shape_Le_1     Shape_Ar_2     Bog_type
0               0      0           0  ...     0.000000       0.000000
1               1      1           1  ...     0.000000       0.000000
2               2      2           2  ...     0.000000       0.000000
3               3      3           3  ...     0.000000       0.000000
4               4      4           4  ...     0.000000       0.000000
...           ...    ...         ...  ...          ...            ...          ...
84220       84220  84220       82317  ...  8075.184456  238638.517506  flowthrough
84221       84221  84221       82666  ...  4546.272832   98508.748324  flowthrough
84222       84222  84222       82836  ...  8075.184456  238638.517506  flowthrough
84223       84223  84223       82837  ...  8075.184456  238638.517506  flowthrough
84224       84224  84224       83341  ...  8075.184456  238638.517506  flowthrough

[84225 rows x 52 columns]

In [335]:
# Subwatershed housing units, driveways, septics etcs. 
in_df3 = pd.read_excel(r'C:\Users\Adrian.Wiegman\OneDrive - USDA\Research\Nload\Inputs\Nload_Watershed_Info.xlsx','ggbp_info',comment="#")
display(in_df3)

df1 = in_df1[['SUB','SHED_NAME','Terminus','Area_Ha']]
display(df1)
df1.SepticUnits = 0
df1 = df1.rename(columns={'SHED_NAME':'SubW_Name'})
#df1 = df1.merge(in_df3[['SUB','Terminus','SepticUnits']])
display(df1)

                        SubW_Name  SUB  ...  Unnamed: 13 Unnamed: 14
0                  Deep Pond GT10    4  ...          NaN         NaN
1               Crooked Pond GT10    6  ...          NaN         NaN
2          Coonamessett Pond LT10    2  ...          NaN         NaN
3                  Deep Pond LT10    5  ...          NaN         NaN
4                      Round Pond    3  ...          NaN         NaN
5               Crooked Pond LT10    7  ...          NaN         NaN
6                      Round Pond    3  ...          NaN         NaN
7                  Flax Pond GT10   15  ...          NaN         NaN
8                 Mares Pond GT10   12  ...          NaN         NaN
9                    Jenkins Pond   10  ...          NaN         NaN
10                   Shallow Pond    8  ...          NaN         NaN
11                Mares Pond LT10   13  ...          NaN         NaN
12                      Deer Pond   11  ...          NaN         NaN
13                 Spectacle Pond   14  ...          NaN         NaN
14  Upper Coonamessett River LT10   18  ...          NaN         NaN
15               Great Pond GT10E   23  ...          NaN         NaN
16         Coonamessett Pond GT10    1  ...          NaN         NaN
17  Upper Coonamessett River GT10   17  ...          NaN         NaN
18              Backus Brook GT10   25  ...          NaN         NaN
19             Bournes Brook GT10   28  ...          NaN         NaN
20                 Flax Pond LT10   16  ...          NaN         NaN
21                Perch Pond GT10   20  ...          NaN         NaN
22               Great Pond GT10W   22  ...          NaN         NaN
23                Perch Pond LT10   21  ...          NaN         NaN
24              Backus Brook LT10   26  ...          NaN         NaN
25       Lower Coonamessett River   19  ...          NaN         NaN
26             Bournes Brook LT10   29  ...          NaN         NaN
27                      Mill Pond   33  ...          NaN         NaN
28              Bournes Pond GT10   31  ...          NaN         NaN
29                Great Pond LT10   24  ...          NaN         NaN
30                     Green Pond   27  ...          NaN         NaN
31              Bournes Pond LT10   32  ...          NaN         NaN
32                   Israels Cove   30  ...          NaN         NaN

[33 rows x 15 columns]

    SUB                      SHED_NAME Terminus     Area_Ha
0     4                 Deep Pond GT10        p   71.783290
1     6              Crooked Pond GT10        p   53.071712
2     2         Coonamessett Pond LT10        p  352.846203
3     5                 Deep Pond LT10        p   65.209861
4     3                     Round Pond        p   37.019734
5     7              Crooked Pond LT10        p   78.128171
6     9                     Round Pond        p   87.236109
7    15                 Flax Pond GT10        p   22.884859
8    12                Mares Pond GT10        p   54.522097
9    10                   Jenkins Pond        p  213.377284
10    8                   Shallow Pond        p   15.710124
11   13                Mares Pond LT10        p   59.834427
12   11                      Deer Pond        p   16.034563
13   14                 Spectacle Pond        p   42.482973
14   18  Upper Coonamessett River LT10        s  309.481145
15   23               Great Pond GT10E        p   51.401954
16    1         Coonamessett Pond GT10        p  623.933841
17   17  Upper Coonamessett River GT10        s  162.831477
18   25              Backus Brook GT10        s  130.431283
19   28             Bournes Brook GT10        s  134.629637
20   16                 Flax Pond LT10        p   75.708230
21   20                Perch Pond GT10        p   35.533065
22   22               Great Pond GT10W        p  102.655018
23   21                Perch Pond LT10        p   66.327722
24   26              Backus Brook LT10        s  175.406172
25   19       Lower Coonamessett River        s  352.175577
26   29             Bournes Brook LT10        s  152.648296
27   33                      Mill Pond        p   37.585830
28   31              Bournes Pond GT10        e   58.883861
29   24                Great Pond LT10        e  386.017539
30   27                     Green Pond        e  298.314815
31   32              Bournes Pond LT10        e  204.751610
32   30                   Israels Cove        e   53.788684

    SUB                      SubW_Name Terminus     Area_Ha
0     4                 Deep Pond GT10        p   71.783290
1     6              Crooked Pond GT10        p   53.071712
2     2         Coonamessett Pond LT10        p  352.846203
3     5                 Deep Pond LT10        p   65.209861
4     3                     Round Pond        p   37.019734
5     7              Crooked Pond LT10        p   78.128171
6     9                     Round Pond        p   87.236109
7    15                 Flax Pond GT10        p   22.884859
8    12                Mares Pond GT10        p   54.522097
9    10                   Jenkins Pond        p  213.377284
10    8                   Shallow Pond        p   15.710124
11   13                Mares Pond LT10        p   59.834427
12   11                      Deer Pond        p   16.034563
13   14                 Spectacle Pond        p   42.482973
14   18  Upper Coonamessett River LT10        s  309.481145
15   23               Great Pond GT10E        p   51.401954
16    1         Coonamessett Pond GT10        p  623.933841
17   17  Upper Coonamessett River GT10        s  162.831477
18   25              Backus Brook GT10        s  130.431283
19   28             Bournes Brook GT10        s  134.629637
20   16                 Flax Pond LT10        p   75.708230
21   20                Perch Pond GT10        p   35.533065
22   22               Great Pond GT10W        p  102.655018
23   21                Perch Pond LT10        p   66.327722
24   26              Backus Brook LT10        s  175.406172
25   19       Lower Coonamessett River        s  352.175577
26   29             Bournes Brook LT10        s  152.648296
27   33                      Mill Pond        p   37.585830
28   31              Bournes Pond GT10        e   58.883861
29   24                Great Pond LT10        e  386.017539
30   27                     Green Pond        e  298.314815
31   32              Bournes Pond LT10        e  204.751610
32   30                   Israels Cove        e   53.788684

Initialize a dataframe for Land cover (LUC) area by Subcatchment (SUB) with values for use class 2 (lawns), 3 (non cranberry ag), 7 (impervous, non-road).

In [336]:
nLUCs = 13
SUBs =  list(in_df1['SUB'])*nLUCs
print(len(list(in_df1['SUB'])))
LUCs = [i+1 for i in range(nLUCs)]*len(list(in_df1['SUB']))
#print(LUCs)
df_SUB_LUC = pd.DataFrame({"SUB":SUBs,"LUC":LUCs})
df_SUB_LUC
df_SUB_LUC
display(df_SUB_LUC)
df_merged = None
'''
coverclasses = [2,3,7]
for i in coverclasses:
    df_temp = in_df3
    df_temp['LUC'] = i
    df_temp['Area_Ha'] = df_temp['CC'+str(i)+'_Ha']
    df_merged = df_merged.merge(df_temp[['SUB','LUC','Area_Ha']],'left')
display(df_merged)
'''

i = 2
j = 13
df_temp = in_df3
df_temp['LUC'] = i
df_temp['Area_Ha'] = df_temp['CC'+str(i)+'_Ha']
df_merged = df_temp[['SUB','LUC','Area_Ha']]
display(df_merged)
df_temp['LUC'] = j
df_temp['Area_Ha'] = -df_temp['Area_Ha'] 
df_merged = df_merged.merge(df_temp[['SUB','LUC','Area_Ha']],'outer')
display(df_merged)

i = 3 # area to be added
j = 4 # area to be subtracted from 
df_temp = in_df3
df_temp['LUC'] = i
df_temp['Area_Ha'] = df_temp['CC'+str(i)+'_Ha']
df_merged = df_merged.merge(df_temp[['SUB','LUC','Area_Ha']],'outer')
display(df_merged)
df_temp['LUC'] = j
df_temp['Area_Ha'] = -df_temp['Area_Ha'] 
df_merged = df_merged.merge(df_temp[['SUB','LUC','Area_Ha']],'outer')
display(df_merged)

i = 7
j = 6
df_temp = in_df3
df_temp['LUC'] = i
df_temp['Area_Ha'] = df_temp['CC'+str(i)+'_Ha']
df_merged = df_merged.merge(df_temp[['SUB','LUC','Area_Ha']],'outer')
display(df_merged)
df_temp['LUC'] = j
df_temp['Area_Ha'] = -df_temp['Area_Ha'] 
df_merged = df_merged.merge(df_temp[['SUB','LUC','Area_Ha']],'outer')
display(df_merged)

df_SUB_LUC_merged = pd.merge(df_SUB_LUC,df_merged,'left')
display(df_SUB_LUC_merged)
print(len(df_SUB_LUC_merged['SUB'].unique()))
df_SUB_LUC_merged.to_csv("df_SUB_LUC_merged.csv")
print(df_SUB_LUC_merged.sort_values(['LUC','SUB']))

33

     SUB  LUC
0      4    1
1      6    2
2      2    3
3      5    4
4      3    5
..   ...  ...
424   31    9
425   24   10
426   27   11
427   32   12
428   30   13

[429 rows x 2 columns]

    SUB  LUC  Area_Ha
0     4    2      NaN
1     6    2      NaN
2     2    2      NaN
3     5    2      NaN
4     3    2      NaN
5     7    2      NaN
6     3    2      NaN
7    15    2      NaN
8    12    2      NaN
9    10    2      NaN
10    8    2      NaN
11   13    2      NaN
12   11    2      NaN
13   14    2      NaN
14   18    2      NaN
15   23    2      NaN
16    1    2      NaN
17   17    2      NaN
18   25    2      NaN
19   28    2      NaN
20   16    2      NaN
21   20    2      NaN
22   22    2      NaN
23   21    2      NaN
24   26    2      NaN
25   19    2      NaN
26   29    2      NaN
27   33    2      NaN
28   31    2      NaN
29   24    2      NaN
30   27    2      NaN
31   32    2      NaN
32   30    2      NaN

    SUB  LUC  Area_Ha
0     4    2      NaN
1     6    2      NaN
2     2    2      NaN
3     5    2      NaN
4     3    2      NaN
..  ...  ...      ...
61   31   13      NaN
62   24   13      NaN
63   27   13      NaN
64   32   13      NaN
65   30   13      NaN

[66 rows x 3 columns]

    SUB  LUC  Area_Ha
0     4    2      NaN
1     6    2      NaN
2     2    2      NaN
3     5    2      NaN
4     3    2      NaN
..  ...  ...      ...
94   31    3      NaN
95   24    3      NaN
96   27    3      NaN
97   32    3      NaN
98   30    3      NaN

[99 rows x 3 columns]

     SUB  LUC  Area_Ha
0      4    2      NaN
1      6    2      NaN
2      2    2      NaN
3      5    2      NaN
4      3    2      NaN
..   ...  ...      ...
127   31    4      NaN
128   24    4      NaN
129   27    4      NaN
130   32    4      NaN
131   30    4      NaN

[132 rows x 3 columns]

     SUB  LUC  Area_Ha
0      4    2      NaN
1      6    2      NaN
2      2    2      NaN
3      5    2      NaN
4      3    2      NaN
..   ...  ...      ...
160   31    7      NaN
161   24    7      NaN
162   27    7      NaN
163   32    7      NaN
164   30    7      NaN

[165 rows x 3 columns]

     SUB  LUC  Area_Ha
0      4    2      NaN
1      6    2      NaN
2      2    2      NaN
3      5    2      NaN
4      3    2      NaN
..   ...  ...      ...
193   31    6      NaN
194   24    6      NaN
195   27    6      NaN
196   32    6      NaN
197   30    6      NaN

[198 rows x 3 columns]

     SUB  LUC  Area_Ha
0      4    1      NaN
1      6    2      NaN
2      2    3      NaN
3      5    4      NaN
4      3    5      NaN
..   ...  ...      ...
430   31    9      NaN
431   24   10      NaN
432   27   11      NaN
433   32   12      NaN
434   30   13      NaN

[435 rows x 3 columns]

33
     SUB  LUC  Area_Ha
251    1    1      NaN
303    2    1      NaN
172    3    1      NaN
0      4    1      NaN
237    5    1      NaN
..   ...  ...      ...
395   29   13      NaN
434   30   13      NaN
263   31   13      NaN
64    32   13      NaN
329   33   13      NaN

[435 rows x 3 columns]

When septic unit data are unavailable. We estimate septic units from the following information sources.

Estimate fraction of total population (k_Pop) living in each subwatershed using one of two methods:
1. Impervious Area (USEGENCODE == 2): dividing the total impervious area by the impervious area within each subwatershed. 
2. Residential Use Codes (USEGENCODE == 10,11,12,13): classify polygons as housing units if they fall under a residential use code

It may be worthwile to add some uncertainty over how many housing units 

https://www.mass.gov/files/documents/2016/08/wr/classificationcodebook.pdf

In [337]:
in_df2["ResidentialUnit"] = (in_df2.COVERCODE == 2) & np.isin(in_df2.USEGENCODE,[10,11,12,13])

USE_CODE_DICT = {
# Residences 
101: 1, # '......Single Family'
102: 5, #'......Condominium' between 
103: 20, #'......Mobile Home (includes land used for purpose of a mobile home park)' 
104: 2, #'......Two-Family'
105: 3, #'......Three-Family'
106: 0, #'......Accessory Land with Improvement - garage'
107: 0, #'......(Intentionally left blank)'
108: 0, #'......(Intentionally left blank)
109: 2, #'......Multiple Houses on one parcel (for example, a single and a two-family on one parcel)'
# Apartments
111: 6,#'......Four to Eight Units'
112: 10#'......More than Eight Unit'
}

totalHousingUnits = in_df2['ResidentialUnit'].sum()
print(totalHousingUnits)
print(totalHousingUnits*2.43)

df_HU_SUB = in_df2.groupby('SUB')['ResidentialUnit'].sum().reset_index(name='ResUnits')
df_HU_SUB['ResImp_Fraction'] = df_HU_SUB['ResUnits']/totalHousingUnits
display(df_HU_SUB)

15314
37213.020000000004

    SUB  ResUnits  ResImp_Fraction
0     1        63         0.004114
1     2       311         0.020308
2     3        20         0.001306
3     4         0         0.000000
4     5       110         0.007183
5     6        21         0.001371
6     7       344         0.022463
7     8        39         0.002547
8     9       116         0.007575
9    10       604         0.039441
10   11        84         0.005485
11   12        43         0.002808
12   13        42         0.002743
13   14        78         0.005093
14   15        22         0.001437
15   16       218         0.014235
16   17       209         0.013648
17   18       950         0.062035
18   19      2371         0.154826
19   20       109         0.007118
20   21       564         0.036829
21   22       344         0.022463
22   23       200         0.013060
23   24      2722         0.177746
24   25       271         0.017696
25   26       386         0.025206
26   27      2157         0.140852
27   28       437         0.028536
28   29       447         0.029189
29   30       323         0.021092
30   31       544         0.035523
31   32       776         0.050673
32   33       389         0.025402

In [338]:
totalImpervious = in_df2.loc[in_df2['COVERCODE']==2, 'Area_Ha'].sum()
df_imp_sub = in_df2.loc[in_df2['COVERCODE']==2].groupby('SUB')['Area_Ha'].sum().reset_index(name='Area_Ha')
df_imp_sub['Impervious_Fraction'] = df_imp_sub['Area_Ha']/totalImpervious
print(df_imp_sub)

    SUB    Area_Ha  Impervious_Fraction
0     1  45.003788             0.092609
1     2  16.395758             0.033739
2     3   1.299574             0.002674
3     4   6.086647             0.012525
4     5   3.405454             0.007008
5     6   1.623396             0.003341
6     7   7.785850             0.016022
7     8   1.264153             0.002601
8     9   4.963642             0.010214
9    10  13.854318             0.028509
10   11   1.963666             0.004041
11   12   2.229241             0.004587
12   13   1.488782             0.003064
13   14   2.244471             0.004619
14   15   2.181547             0.004489
15   16   6.859169             0.014115
16   17  12.990437             0.026732
17   18  28.902847             0.059476
18   19  59.217469             0.121858
19   20   4.582683             0.009430
20   21  12.997854             0.026747
21   22  13.540230             0.027863
22   23   6.081851             0.012515
23   24  73.361005             0.150962
24   25   8.360996             0.017205
25   26  11.550101             0.023768
26   27  56.610532             0.116493
27   28  12.869655             0.026483
28   29  14.143126             0.029104
29   30   7.471365             0.015375
30   31  14.105910             0.029027
31   32  21.726978             0.044710
32   33   8.793089             0.018094

In [339]:
df1['k_Pop'] = None
df1 = pd.merge(df1,df_imp_sub[['SUB','Impervious_Fraction']])
df1 = pd.merge(df1,df_HU_SUB[['SUB','ResUnits','ResImp_Fraction']])

# how well do these metrics align
#import matplotlib.pyplot as plt
#df1.plot('Housing_Fraction','Impervious_Fraction','scatter')
#plt.show()

df1['k_Pop'] = df1.loc[:,'ResImp_Fraction']
display(df1)

    SUB                      SubW_Name  ... ResUnits  ResImp_Fraction
0     4                 Deep Pond GT10  ...        0         0.000000
1     6              Crooked Pond GT10  ...       21         0.001371
2     2         Coonamessett Pond LT10  ...      311         0.020308
3     5                 Deep Pond LT10  ...      110         0.007183
4     3                     Round Pond  ...       20         0.001306
5     7              Crooked Pond LT10  ...      344         0.022463
6     9                     Round Pond  ...      116         0.007575
7    15                 Flax Pond GT10  ...       22         0.001437
8    12                Mares Pond GT10  ...       43         0.002808
9    10                   Jenkins Pond  ...      604         0.039441
10    8                   Shallow Pond  ...       39         0.002547
11   13                Mares Pond LT10  ...       42         0.002743
12   11                      Deer Pond  ...       84         0.005485
13   14                 Spectacle Pond  ...       78         0.005093
14   18  Upper Coonamessett River LT10  ...      950         0.062035
15   23               Great Pond GT10E  ...      200         0.013060
16    1         Coonamessett Pond GT10  ...       63         0.004114
17   17  Upper Coonamessett River GT10  ...      209         0.013648
18   25              Backus Brook GT10  ...      271         0.017696
19   28             Bournes Brook GT10  ...      437         0.028536
20   16                 Flax Pond LT10  ...      218         0.014235
21   20                Perch Pond GT10  ...      109         0.007118
22   22               Great Pond GT10W  ...      344         0.022463
23   21                Perch Pond LT10  ...      564         0.036829
24   26              Backus Brook LT10  ...      386         0.025206
25   19       Lower Coonamessett River  ...     2371         0.154826
26   29             Bournes Brook LT10  ...      447         0.029189
27   33                      Mill Pond  ...      389         0.025402
28   31              Bournes Pond GT10  ...      544         0.035523
29   24                Great Pond LT10  ...     2722         0.177746
30   27                     Green Pond  ...     2157         0.140852
31   32              Bournes Pond LT10  ...      776         0.050673
32   30                   Israels Cove  ...      323         0.021092

[33 rows x 8 columns]

Reclassify land use using Nload cover codes for default scenario

In [340]:
# GENERATE DICTIONARY OF CONDITIONS FOR RECLASSIFYING LAND USE

# specific active cranberry: where other farming makes up a non zero portion of cultivated and hay/pasture cover types
specific_active_cranberry = '(np.isin(df.CropStatus,"active"))'

# general active cranberry: use where active cranberry makes up over 99% of COVERCODE 6 and 7. 
general_active_cranberry = '((np.isin(df.CropStatus,"active"))|((df.COVERCODE == 21) & (df.USEGENCODE==7))|(np.isin(df.COVERCODE,[6,7])))'

active_cranberry = specific_active_cranberry
abandoned_cranberry = 'np.isin(df["FID"],df[df.CropStatus == "abandoned"]["FID"])'
flowthrough = 'np.isin(df["FID"],df[df.Bog_type == "flowthrough"]["FID"])'
#abandoned_cranberry = '(np.isin(df.CropStatus,"abandoned"))'
#flowthrough = '(np.isin(df.Bog_type,"flowthrough"))'
waterbody = '(np.isin(df.COVERCODE,[22,21]) & np.invert('+active_cranberry+'))'
# condition dictionary
SPECIFIC = {
    # THE FIRST APPEARING CONDITION TAKES PRIORITY IN NP.SELECT
    # key (LUC): value (condition string)
     # 4: "Agriculture, Active Cranberry, Flowthrough"
    4: active_cranberry+' & '+flowthrough,
    # 5: "Agriculture, Active Cranberry, Non Flowthrough"
    5: active_cranberry+' & (np.invert('+flowthrough+'))',
    # 11: "Retired Cranberry, Flowthrough"
    11: abandoned_cranberry+' & '+flowthrough,
    # 12: "Retired Cranberry, Non flowthrough"
    12: abandoned_cranberry+' & np.invert('+flowthrough+')',
    # 1: "Natural Uplands"
    1: '(df.COVERCODE >= 8) & (df.COVERCODE <= 12)',
     # 6: "Impervious, Roads"
    6: '(df.COVERCODE == 2)',
    # 3: "Agriculture, Non Cranberry"
    3: '(np.isin(df.COVERCODE,[6,7])) & (np.invert('+active_cranberry+'))',
    # 8: "Recieving Body (Estuary)"
    8: '(df.SUB == "0") & ((df.COVERCODE == 23)|'+waterbody+')', # note that SUB is a string
    # 9: "Freshwater Ponds and Lakes"
    9: '(df.SUB != "0") &' + waterbody,
    # 10: "Wetlands"
    10: '(df.COVERCODE >= 13) & (df.COVERCODE <= 18)',
    # 2: "Mowed Areas (Lawns, Sports Fields, and Golf Courses)"
    2: 'df.COVERCODE is [False]', # this will be calculated separately
    # 7: "Impervious, Non-Roads"
    7: 'df.COVERCODE is [False]', # this will be calculated separately
    # 13: "Other (Bare land or Shoreline)"
    13: 'df.COVERCODE is [False]'}

GENERAL = {
    # THE FIRST APPEARING CONDITION TAKES PRIORITY IN NP.SELECT
    # key (LUC): value (condition string)
     # 4: "Agriculture, Active Cranberry, Flowthrough"
    4: active_cranberry+' & '+flowthrough,
    # 5: "Agriculture, Active Cranberry, Non Flowthrough"
    5: active_cranberry+' & (np.invert('+flowthrough+'))',
    # 11: "Retired Cranberry, Flowthrough"
    11: abandoned_cranberry+' & '+flowthrough,
    # 12: "Retired Cranberry, Non flowthrough"
    12: abandoned_cranberry+' & np.invert('+flowthrough+')',
    # 1: "Natural Uplands"
    1: 'df.COVERCODE.between(8, 12, inclusive="both")',
     # 6: "Impervious, Roads"
    6: '(df.COVERCODE == 2) & (df.USEGENCODE == 55)',
    ## 3: "Agriculture, Non Cranberry"
    #3: 'df.COVERCODE == [False]',
    # 8: "Recieving Body (Estuary)"
    8: '(df.SUB == "0") & ((df.COVERCODE == 23)|'+waterbody+')', # note that SUB is a string
    # 9: "Freshwater Ponds and Lakes"
    9: '(df.SUB != "0") &' + waterbody,
    # 10: "Wetlands"
    10: 'df.COVERCODE.between(13, 18, inclusive="both")',
    # 2: "Mowed Areas (Lawns, Sports Fields, and Golf Courses)"
    2: 'df.COVERCODE == 5',
    # 7: "Impervious, Non-Roads"
    7: '(df.COVERCODE == 2) & (df.USEGENCODE != 55)',
    # 13: "Other (Bare land or Shoreline)"
    13: 'np.isin(df.COVERCODE,[19,20])'
}

BASELINE = GENERAL    

# checking condtions 
df = pd.DataFrame({"FID":[0,1,2,3],
                   "COVERCODE":[21,21]*2,
                   "SUB":["0","1"]*2,
                   "CropStatus":["active"]*2 + ["abandoned"]*2,
                   "Bog_type":["","flowthrough"]*2,
                   "USEGENCODE":[0,0,0,0],
                   "USE_CODE":[0,0,0,0]})
df = pd.DataFrame({"FID":[4,5,6,7],
                   "COVERCODE":[2,5]*2,
                   "SUB":["0","1"]*2,
                   "CropStatus":[None]*2 + [None]*2,
                   "Bog_type":[None,None]*2,
                   "USEGENCODE":[55,55,0,0],
                   "USE_CODE":[0,0,0,0]})
df = pd.DataFrame({"FID":[8,9,10,11],
                   "COVERCODE":[9,15,19,22],
                   "SUB":["0","1"]*2,
                   "CropStatus":[None]*2 + [None]*2,
                   "Bog_type":[None,None]*2,
                   "USEGENCODE":[55,55,0,0],
                   "USE_CODE":[0,0,0,0]})
df["8"]= eval(BASELINE[8])
df["9"]= eval(BASELINE[9])
df["11"]= eval(BASELINE[11])
df["12"]= eval(BASELINE[12])
df["2"]= eval(BASELINE[2])
df["6"]= eval(BASELINE[6])
df["7"]= eval(BASELINE[7])
df["13"]= eval(BASELINE[13])
df["10"]= eval(BASELINE[10])
df["1"]= eval(BASELINE[1])

condlist = "["+", ".join(list(BASELINE.values()))+"]"
choicelist = list(BASELINE.keys())
df["LUC"] = np.select(eval(condlist),choicelist,13)
print(df)

   FID  COVERCODE SUB CropStatus Bog_type  ...      7     13     10      1  LUC
0    8          9   0       None     None  ...  False  False  False   True    1
1    9         15   1       None     None  ...  False  False   True  False   10
2   10         19   0       None     None  ...  False   True  False  False   13
3   11         22   1       None     None  ...  False  False  False  False    9

[4 rows x 18 columns]

In [341]:
df = in_df2
#df['Bog_type'] = 'flowthrough'
for i in list(BASELINE.keys()): 
    print("True is in "+str(i)+"....",True in eval(BASELINE[i]))

True is in 4.... True
True is in 5.... True
True is in 11.... False
True is in 12.... False
True is in 1.... True
True is in 6.... True
True is in 8.... True
True is in 9.... True
True is in 10.... True
True is in 2.... True
True is in 7.... True
True is in 13.... True

In [342]:
# declare land use class (LUC) reclasssification function
def fn_reclassify_LUC(df,dictionary,default=13):
    condlist = "["+", ".join(list(dictionary.values()))+"]"
    choicelist = list(dictionary.keys())
    #print(condlist)
    #print(choicelist)
    df["LUC"] =  np.select(eval(condlist),choicelist,default)
    return(df)

In [343]:
# execute reclassification subroutine
df2 = fn_reclassify_LUC(in_df2,BASELINE)
print("Number of LUC == 13:",sum(df2['LUC']==2))
# replace whitespace data with NaN
df2 = df2.replace(r'^\s*$', np.nan, regex=True)
print(df2.columns)
#df2["LUC"] =  np.where(((df2['LUC']==9) & (df2['SUB']==0)),8,df['LUC'])
# sum land area by subcatchment and LUC
def fn_sum_by_sub_and_luc(df_SUB_LUC_Area1,df_SUB_LUC,df_SUB_LUC_Area2):
    print(df_SUB_LUC)
    df2_SUB_LUC_merged = pd.merge(df_SUB_LUC,df_SUB_LUC_Area1,'left')
    print(df_SUB_LUC)
    Area_Ha = df2_SUB_LUC_merged['Area_Ha'].fillna(0) + df_SUB_LUC_Area2['Area_Ha'].fillna(0)
    print(Area_Ha.sum())
    print(len(Area_Ha))
    df_SUB_LUC_AREA = df_SUB_LUC
    df_SUB_LUC_AREA['Area_Ha'] = Area_Ha
    return(df_SUB_LUC_AREA)

df2_SUB_CC_Area = df2.groupby(['SUB','LUC'])['Area_Ha'].sum().reset_index(name='Area_Ha')
print(df2_SUB_CC_Area)
print(df2_SUB_CC_Area.groupby('LUC')['Area_Ha'].sum())
print(df_SUB_LUC)
print(df_SUB_LUC_merged)
df2_i = fn_sum_by_sub_and_luc(df2_SUB_CC_Area,df_SUB_LUC,df_SUB_LUC_merged)
df2_i.to_csv('df2_SUB_CC_Area.csv')
print(df_SUB_LUC)

Number of LUC == 13: 20382
Index(['Unnamed: 0', 'FID', 'FID_out_gg', 'FID_LANDCO', 'COVERNAME',
       'COVERCODE', 'USEGENNAME', 'USEGENCODE', 'USE_CODE', 'POLY_TYPE', 'FY',
       'TOWN_ID', 'TILENAME', 'Shape_Leng', 'Shape_Area', 'FID_Great_', 'SUB',
       'SHED_NAME', 'Shape_ar_1', 'Shape_len', 'Terminus', 'Area_Ha',
       'FID_in_ggb', 'ID', 'WMA_NO', 'OWNER', 'ADDRESS', 'TOWN', 'REGION',
       'BOG_NAME', 'REGAREA', 'CERTAREA', 'CREDITAREA', 'PERMITAREA',
       'TOTAREA', 'STAFF', 'PROGRAM', 'DATE_ENTER', 'COMMENT', 'BIRTHREG',
       'AREA', 'PERIMETER', 'PERMIT_NUM', 'OWNER_FIRS', 'OWNER_LAST',
       'AREASACRES', 'Basin', 'CropStatus', 'BOG_FID', 'Shape_Le_1',
       'Shape_Ar_2', 'Bog_type', 'ResidentialUnit', 'LUC'],
      dtype='object')
     SUB  LUC     Area_Ha
0      1    1  379.205071
1      1    2  154.025886
2      1    6    0.343068
3      1    7   44.660720
4      1   10    0.139275
..   ...  ...         ...
224   33    6    3.521194
225   33    7    5.271894
226   33    9    4.390090
227   33   10    3.658271
228   33   13    0.005566

[229 rows x 3 columns]
LUC
1     2524.257418
2      712.406116
4       49.978002
5        8.452357
6      164.589834
7      321.358501
9      428.785737
10     185.581154
13     187.237405
Name: Area_Ha, dtype: float64
     SUB  LUC
0      4    1
1      6    2
2      2    3
3      5    4
4      3    5
..   ...  ...
424   31    9
425   24   10
426   27   11
427   32   12
428   30   13

[429 rows x 2 columns]
     SUB  LUC  Area_Ha
0      4    1      NaN
1      6    2      NaN
2      2    3      NaN
3      5    4      NaN
4      3    5      NaN
..   ...  ...      ...
430   31    9      NaN
431   24   10      NaN
432   27   11      NaN
433   32   12      NaN
434   30   13      NaN

[435 rows x 3 columns]
     SUB  LUC
0      4    1
1      6    2
2      2    3
3      5    4
4      3    5
..   ...  ...
424   31    9
425   24   10
426   27   11
427   32   12
428   30   13

[429 rows x 2 columns]
     SUB  LUC
0      4    1
1      6    2
2      2    3
3      5    4
4      3    5
..   ...  ...
424   31    9
425   24   10
426   27   11
427   32   12
428   30   13

[429 rows x 2 columns]
4582.646524428546
435
     SUB  LUC    Area_Ha
0      4    1  47.368926
1      6    2   1.838545
2      2    3   0.000000
3      5    4   0.000000
4      3    5   0.000000
..   ...  ...        ...
424   31    9   0.000000
425   24   10  18.817178
426   27   11   0.000000
427   32   12   0.000000
428   30   13   0.432722

[429 rows x 3 columns]

In [344]:
df_SUB_LUC = pd.DataFrame({"SUB":SUBs,"LUC":LUCs})
df_SUB_LUC_merged_general = df_SUB_LUC_merged
df_SUB_LUC_merged_general['Area_Ha'] = 0
print(df_SUB_LUC_merged_general)
df2_i = fn_sum_by_sub_and_luc(df2_SUB_CC_Area,df_SUB_LUC,df_SUB_LUC_merged_general).dropna()
print(df2_i)
# Aggregate Data with Pandas .groupby()
df2_i.to_csv(os.path.join(odr,"Wareham_LUC_Area_general"+".csv"))
display(df2_i)
# check that area is within one tenth of a Ha of input
print('Difference in Total Area (Ha):',round(df2['Area_Ha'].sum() - df2_i['Area_Ha'].sum(),1))

     SUB  LUC  Area_Ha
0      4    1        0
1      6    2        0
2      2    3        0
3      5    4        0
4      3    5        0
..   ...  ...      ...
430   31    9        0
431   24   10        0
432   27   11        0
433   32   12        0
434   30   13        0

[435 rows x 3 columns]
     SUB  LUC
0      4    1
1      6    2
2      2    3
3      5    4
4      3    5
..   ...  ...
424   31    9
425   24   10
426   27   11
427   32   12
428   30   13

[429 rows x 2 columns]
     SUB  LUC
0      4    1
1      6    2
2      2    3
3      5    4
4      3    5
..   ...  ...
424   31    9
425   24   10
426   27   11
427   32   12
428   30   13

[429 rows x 2 columns]
4582.646524428546
435
     SUB  LUC    Area_Ha
0      4    1  47.368926
1      6    2   1.838545
2      2    3   0.000000
3      5    4   0.000000
4      3    5   0.000000
..   ...  ...        ...
424   31    9   0.000000
425   24   10  18.817178
426   27   11   0.000000
427   32   12   0.000000
428   30   13   0.432722

[429 rows x 3 columns]

     SUB  LUC    Area_Ha
0      4    1  47.368926
1      6    2   1.838545
2      2    3   0.000000
3      5    4   0.000000
4      3    5   0.000000
..   ...  ...        ...
424   31    9   0.000000
425   24   10  18.817178
426   27   11   0.000000
427   32   12   0.000000
428   30   13   0.432722

[429 rows x 3 columns]

Difference in Total Area (Ha): 0.0

Reclassify terminus and land use based on cranberry management scenarios

In [345]:
display(df2)
display(df1)
# List of subwatersheds with cranberry at terminus
SUB_LIST_1 = [19,26,29]
# List of subwatersheds with flowthrough cranberry at terminus
SUB_LIST_4 = [19,26,29]
# List of cranberry bogs at terminus of subwatersheds
#BOG_FID_LIST_1 = [4,7,11]
BOG_FID_LIST_1 = [167,584,977]
BOG_FID_LIST_1 = [str(i) for i in BOG_FID_LIST_1]
print("total restored area (Ha):",df2[np.isin(df2['BOG_FID'],BOG_FID_LIST_1)]['Area_Ha'].sum())
print(BOG_FID_LIST_1)

       Unnamed: 0    FID  FID_out_gg  ...     Bog_type ResidentialUnit  LUC
0               0      0           0  ...          NaN           False    1
1               1      1           1  ...          NaN           False    2
2               2      2           2  ...          NaN           False    1
3               3      3           3  ...          NaN           False    1
4               4      4           4  ...          NaN           False    1
...           ...    ...         ...  ...          ...             ...  ...
84220       84220  84220       82317  ...  flowthrough           False    4
84221       84221  84221       82666  ...  flowthrough           False    4
84222       84222  84222       82836  ...  flowthrough           False    4
84223       84223  84223       82837  ...  flowthrough           False    4
84224       84224  84224       83341  ...  flowthrough           False    4

[84225 rows x 54 columns]

    SUB                      SubW_Name  ... ResUnits  ResImp_Fraction
0     4                 Deep Pond GT10  ...        0         0.000000
1     6              Crooked Pond GT10  ...       21         0.001371
2     2         Coonamessett Pond LT10  ...      311         0.020308
3     5                 Deep Pond LT10  ...      110         0.007183
4     3                     Round Pond  ...       20         0.001306
5     7              Crooked Pond LT10  ...      344         0.022463
6     9                     Round Pond  ...      116         0.007575
7    15                 Flax Pond GT10  ...       22         0.001437
8    12                Mares Pond GT10  ...       43         0.002808
9    10                   Jenkins Pond  ...      604         0.039441
10    8                   Shallow Pond  ...       39         0.002547
11   13                Mares Pond LT10  ...       42         0.002743
12   11                      Deer Pond  ...       84         0.005485
13   14                 Spectacle Pond  ...       78         0.005093
14   18  Upper Coonamessett River LT10  ...      950         0.062035
15   23               Great Pond GT10E  ...      200         0.013060
16    1         Coonamessett Pond GT10  ...       63         0.004114
17   17  Upper Coonamessett River GT10  ...      209         0.013648
18   25              Backus Brook GT10  ...      271         0.017696
19   28             Bournes Brook GT10  ...      437         0.028536
20   16                 Flax Pond LT10  ...      218         0.014235
21   20                Perch Pond GT10  ...      109         0.007118
22   22               Great Pond GT10W  ...      344         0.022463
23   21                Perch Pond LT10  ...      564         0.036829
24   26              Backus Brook LT10  ...      386         0.025206
25   19       Lower Coonamessett River  ...     2371         0.154826
26   29             Bournes Brook LT10  ...      447         0.029189
27   33                      Mill Pond  ...      389         0.025402
28   31              Bournes Pond GT10  ...      544         0.035523
29   24                Great Pond LT10  ...     2722         0.177746
30   27                     Green Pond  ...     2157         0.140852
31   32              Bournes Pond LT10  ...      776         0.050673
32   30                   Israels Cove  ...      323         0.021092

[33 rows x 8 columns]

total restored area (Ha): 42.487701015356734
['167', '584', '977']

In [346]:
# Dictionary of Scenario Conditions
LUC_scenarios = {
    # 0: "Baseline (Do nothing)"
    0: 'False',
    #1: "Restore Select Bogs to Wetlands"
    1: "np.isin(df2['BOG_FID'],BOG_FID_LIST_1)",
    #2: "Restore All Retired Bogs to Wetlands"
    2: "np.isin(df2['FID'],df2[df2.CropStatus == 'abandoned']['FID'])",
    #3: "Retire All Flowthrough Bogs"
    3: "np.isin(df2['FID'],df2[df2.Bog_type == 'flowthrough']['FID'])",
    #4: "Restore All Flowthrough Bogs to Wetlands"
    4: "np.isin(df2['FID'],df2[df2.Bog_type == 'flowthrough']['FID'])"
}
Terminus_scenarios = {
    # 0: "Baseline (Do nothing)"
    0: '[False]',
    #1: "Restore Select Bogs to Wetlands"
    1: 'np.isin(df1[\'SUB\'],SUB_LIST_1)',
    #2: "Restore All Retired Bogs to Wetlands"
    2: '[False]',
    #3: "Retire All Flowthrough Bogs"
    3: '[False]',
    #4: "Restore All Flowthrough Bogs to Wetlands"
    4: 'np.isin(df1[\'SUB\'],SUB_LIST_4)'
}
#df2 = df2.replace(r'^\s*$', np.nan, regex=True)
#display(df2)
#True in [i is 'abandoned' for i in df2.CropStatus]
Areasum = df2[df2.CropStatus == 'abandoned'].groupby(['SHED_NAME','LUC'])['Area_Ha'].sum()
print(Areasum)
print(df2[df2.FID==59495]['CropStatus'] == 'abandoned')
print(df2[df2.FID==114647]['Bog_type'] == 'flowthrough')
#print([i is "abandoned" for i in df2.CropStatus.astype("|S")])
print(df2[['BOG_FID','CropStatus','SUB']].dtypes)
print(eval(LUC_scenarios[2]))
df2.BOG_FID.to_csv("BOG_FID.csv")
print("Is 'True' in the result: ",True in eval(Terminus_scenarios[4]))
Terminus_scenarios.keys()
Terminus_scenarios.values()

Series([], Name: Area_Ha, dtype: float64)
59495    False
Name: CropStatus, dtype: bool
Series([], Name: Bog_type, dtype: bool)
BOG_FID       object
CropStatus    object
SUB            int64
dtype: object
[False False False ... False False False]
Is 'True' in the result:  True

dict_values(['[False]', "np.isin(df1['SUB'],SUB_LIST_1)", '[False]', '[False]', "np.isin(df1['SUB'],SUB_LIST_4)"])

In [347]:
# For each scenario reclassify land use, then sum up area by land use and subwatershed
# default value if scenario condition is true
LUC_iftrue = 10
Terminus_iftrue = "w"
scens = [str(i) for i in range(5)]
list(LUC_scenarios.keys())

[0, 1, 2, 3, 4]

In [348]:
# For each scenario reclassify land use,
out_df2 = df2
out_df1 = df1
# switch Terminus of Maple Swamp from w to s
#rownums = np.where(out_df1['SubW_Name']=='Maple Swamp')[0]
#out_df1.at[rownums,'Terminus']='s'
# default LUC value if scenario condition is true
LUC_iftrue = 10
# default Terminus value
Terminus_iftrue = "w"
for i in list(LUC_scenarios.keys()):
    print (i)
    # alternative land use for scenario 
    if i == 3: 
        LUC_iftrue = 11
    else: 
        LUC_iftrue = 10
        
    # alter LUC based on scenario conditions
    #np.where(logic,if_true, if_false)
    out_df2["LUC"+str(i)] = np.where(eval(LUC_scenarios[i]),LUC_iftrue,df2.LUC)
    sum((np.where(eval(LUC_scenarios[i]),LUC_iftrue,df2.LUC)))
    out_df1["Terminus"+str(i)] = np.where(eval(Terminus_scenarios[i]),Terminus_iftrue,df1.Terminus)
display(out_df2)
display(out_df1)

print(out_df2.groupby('LUC0')['Area_Ha'].sum())
print(out_df2.groupby('LUC1')['Area_Ha'].sum())
print(out_df2.groupby('LUC2')['Area_Ha'].sum())
print(out_df2.groupby('LUC3')['Area_Ha'].sum())
print(out_df2.groupby('LUC4')['Area_Ha'].sum())

#Save the scenario reclassifications to csv
out_path1 = os.path.join(odr,inname1+'_reclass.csv')
out_path2 = os.path.join(odr,inname2+'_reclass.csv')
out_df1.to_csv(out_path1)
out_df2.to_csv(out_path2)

0
1
2
3
4

       Unnamed: 0    FID  FID_out_gg  FID_LANDCO  ... LUC1  LUC2 LUC3  LUC4
0               0      0           0    19202091  ...    1     1    1     1
1               1      1           1    19202092  ...    2     2    2     2
2               2      2           2    19202150  ...    1     1    1     1
3               3      3           3    19202201  ...    1     1    1     1
4               4      4           4    19202221  ...    1     1    1     1
...           ...    ...         ...         ...  ...  ...   ...  ...   ...
84220       84220  84220       82317    22780276  ...   10     4   11    10
84221       84221  84221       82666    22781347  ...   10     4   11    10
84222       84222  84222       82836    22781979  ...   10     4   11    10
84223       84223  84223       82837    22781979  ...   10     4   11    10
84224       84224  84224       83341    22784062  ...   10     4   11    10

[84225 rows x 59 columns]

    SUB                      SubW_Name Terminus  ...  Terminus2  Terminus3  Terminus4
0     4                 Deep Pond GT10        p  ...          p          p          p
1     6              Crooked Pond GT10        p  ...          p          p          p
2     2         Coonamessett Pond LT10        p  ...          p          p          p
3     5                 Deep Pond LT10        p  ...          p          p          p
4     3                     Round Pond        p  ...          p          p          p
5     7              Crooked Pond LT10        p  ...          p          p          p
6     9                     Round Pond        p  ...          p          p          p
7    15                 Flax Pond GT10        p  ...          p          p          p
8    12                Mares Pond GT10        p  ...          p          p          p
9    10                   Jenkins Pond        p  ...          p          p          p
10    8                   Shallow Pond        p  ...          p          p          p
11   13                Mares Pond LT10        p  ...          p          p          p
12   11                      Deer Pond        p  ...          p          p          p
13   14                 Spectacle Pond        p  ...          p          p          p
14   18  Upper Coonamessett River LT10        s  ...          s          s          s
15   23               Great Pond GT10E        p  ...          p          p          p
16    1         Coonamessett Pond GT10        p  ...          p          p          p
17   17  Upper Coonamessett River GT10        s  ...          s          s          s
18   25              Backus Brook GT10        s  ...          s          s          s
19   28             Bournes Brook GT10        s  ...          s          s          s
20   16                 Flax Pond LT10        p  ...          p          p          p
21   20                Perch Pond GT10        p  ...          p          p          p
22   22               Great Pond GT10W        p  ...          p          p          p
23   21                Perch Pond LT10        p  ...          p          p          p
24   26              Backus Brook LT10        s  ...          s          s          w
25   19       Lower Coonamessett River        s  ...          s          s          w
26   29             Bournes Brook LT10        s  ...          s          s          w
27   33                      Mill Pond        p  ...          p          p          p
28   31              Bournes Pond GT10        e  ...          e          e          e
29   24                Great Pond LT10        e  ...          e          e          e
30   27                     Green Pond        e  ...          e          e          e
31   32              Bournes Pond LT10        e  ...          e          e          e
32   30                   Israels Cove        e  ...          e          e          e

[33 rows x 13 columns]

LUC0
1     2524.257418
2      712.406116
4       49.978002
5        8.452357
6      164.589834
7      321.358501
9      428.785737
10     185.581154
13     187.237405
Name: Area_Ha, dtype: float64
LUC1
1     2524.257418
2      712.406116
4        7.490301
5        8.452357
6      164.589834
7      321.358501
9      428.785737
10     228.068855
13     187.237405
Name: Area_Ha, dtype: float64
LUC2
1     2524.257418
2      712.406116
4       49.978002
5        8.452357
6      164.589834
7      321.358501
9      428.785737
10     185.581154
13     187.237405
Name: Area_Ha, dtype: float64
LUC3
1     2524.257418
2      712.406116
5        8.452357
6      164.589834
7      321.358501
9      428.785737
10     185.581154
11      49.978002
13     187.237405
Name: Area_Ha, dtype: float64
LUC4
1     2524.257418
2      712.406116
5        8.452357
6      164.589834
7      321.358501
9      428.785737
10     235.559155
13     187.237405
Name: Area_Ha, dtype: float64

In [349]:
#copy the original layer and add to the map
#fc1_reclass = arcpy.management.CopyFeatures(fc1, fc1+'_reclass')
fc2_reclass = arcpy.management.CopyFeatures(inname2, inname2+'_reclass')
print(fc2_reclass)
# Join the scenarios csv files with the copy of original layers
#arcpy.management.AddJoin(fc1_reclass, "FID", out_path1, "FID", "KEEP_ALL", "NO_INDEX_JOIN_FIELDS")
fc2_reclass = arcpy.management.AddJoin(fc2_reclass, "FID", out_path2, "FID", "KEEP_ALL", "NO_INDEX_JOIN_FIELDS")

C:\Workspace\Geodata\Nload\out_lclu16_ggbp_cran_ident_reclass.shp

In [350]:
# Conditions for terminus transmission coefficient
df1_dict = {'w': 0.23,
'c': 1,
'e': 1,
's': 1,
'p': 1}
df1_conditions = '['+', '.join(['df1_i.Terminus =="' + k+'"' for k in df1_dict.keys()])+']'
df2_dict = {'9': 1,
'10': 1}
df2_conditions = '['+', '.join(['df2_i.Terminus =="' + k+'"' for k in df2_dict.keys()])+']'
# change terminus classifications    
for i in (LUC_scenarios.keys()):
    print (i) 

    df1_i = pd.merge(out_df1[["SUB","Terminus"+str(i)]],
                     out_df1.loc[:, np.invert(out_df1.columns.str.startswith('Terminus'))])
    df1_i = df1_i.rename(columns={'Terminus'+str(i):'Terminus'})
    df1_i['c_T'] = np.select(eval(df1_conditions),df1_dict.values(),default=1)
    display(df1_i)
    df1_i.to_csv(os.path.join(odr,"GGBP_Terminus_and_Pop"+str(i)+".csv"))

    # then sum up area by land use and subwatershed and assign terminus coefficients
    df2_i = out_df2[['SUB','LUC'+str(i),'Area_Ha']]
    df2_i = df2_i.groupby(['SUB','LUC'+str(i)])['Area_Ha'].sum().reset_index(name='Area_Ha')
    df2_i = df2_i.rename(columns={'LUC'+str(i):'LUC'})
    """    
    df_SUB_LUC = pd.DataFrame({"SUB":SUBs,"LUC":LUCs})
    display(df_SUB_LUC)
    display(df_SUB_LUC_merged)
    df2_i = pd.merge(df_SUB_LUC,df2_i,'left')
    Area_Ha = df_SUB_LUC_merged['Area_Ha'].fillna(0) + df2_i['Area_Ha'].fillna(0)
    print(Area_Ha.sum())
    print(len(Area_Ha))
    df_SUB_LUC_AREA = df_SUB_LUC
    df_SUB_LUC_AREA['Area_Ha'] = Area_Ha
    df2_i = pd.merge(df_SUB_LUC_AREA,df1_i[['SUB','Terminus']])
    df2_i['c_T'] = np.select(eval(df2_conditions),df2_dict.values(),default=1)
    print("!!!!!!!!!!!!displaying df2_i after merge")
    """
    display(df2_i)
    df2_i.to_csv(os.path.join(odr,"GGBP_LUC_Area_p1_"+str(i)+".csv"))
    
    # check that area is within one tenth of a Ha of input
    print('Difference in Total Area (Ha):',round(out_df1['Area_Ha'].sum() - df2_i['Area_Ha'].sum(),1))

0

    SUB Terminus                      SubW_Name  ...  ResUnits  ResImp_Fraction  c_T
0     4        p                 Deep Pond GT10  ...         0         0.000000  1.0
1     6        p              Crooked Pond GT10  ...        21         0.001371  1.0
2     2        p         Coonamessett Pond LT10  ...       311         0.020308  1.0
3     5        p                 Deep Pond LT10  ...       110         0.007183  1.0
4     3        p                     Round Pond  ...        20         0.001306  1.0
5     7        p              Crooked Pond LT10  ...       344         0.022463  1.0
6     9        p                     Round Pond  ...       116         0.007575  1.0
7    15        p                 Flax Pond GT10  ...        22         0.001437  1.0
8    12        p                Mares Pond GT10  ...        43         0.002808  1.0
9    10        p                   Jenkins Pond  ...       604         0.039441  1.0
10    8        p                   Shallow Pond  ...        39         0.002547  1.0
11   13        p                Mares Pond LT10  ...        42         0.002743  1.0
12   11        p                      Deer Pond  ...        84         0.005485  1.0
13   14        p                 Spectacle Pond  ...        78         0.005093  1.0
14   18        s  Upper Coonamessett River LT10  ...       950         0.062035  1.0
15   23        p               Great Pond GT10E  ...       200         0.013060  1.0
16    1        p         Coonamessett Pond GT10  ...        63         0.004114  1.0
17   17        s  Upper Coonamessett River GT10  ...       209         0.013648  1.0
18   25        s              Backus Brook GT10  ...       271         0.017696  1.0
19   28        s             Bournes Brook GT10  ...       437         0.028536  1.0
20   16        p                 Flax Pond LT10  ...       218         0.014235  1.0
21   20        p                Perch Pond GT10  ...       109         0.007118  1.0
22   22        p               Great Pond GT10W  ...       344         0.022463  1.0
23   21        p                Perch Pond LT10  ...       564         0.036829  1.0
24   26        s              Backus Brook LT10  ...       386         0.025206  1.0
25   19        s       Lower Coonamessett River  ...      2371         0.154826  1.0
26   29        s             Bournes Brook LT10  ...       447         0.029189  1.0
27   33        p                      Mill Pond  ...       389         0.025402  1.0
28   31        e              Bournes Pond GT10  ...       544         0.035523  1.0
29   24        e                Great Pond LT10  ...      2722         0.177746  1.0
30   27        e                     Green Pond  ...      2157         0.140852  1.0
31   32        e              Bournes Pond LT10  ...       776         0.050673  1.0
32   30        e                   Israels Cove  ...       323         0.021092  1.0

[33 rows x 9 columns]

     SUB  LUC     Area_Ha
0      1    1  379.205071
1      1    2  154.025886
2      1    6    0.343068
3      1    7   44.660720
4      1   10    0.139275
..   ...  ...         ...
224   33    6    3.521194
225   33    7    5.271894
226   33    9    4.390090
227   33   10    3.658271
228   33   13    0.005566

[229 rows x 3 columns]

Difference in Total Area (Ha): 0.0
1

    SUB Terminus  ... ResImp_Fraction   c_T
0     4        p  ...        0.000000  1.00
1     6        p  ...        0.001371  1.00
2     2        p  ...        0.020308  1.00
3     5        p  ...        0.007183  1.00
4     3        p  ...        0.001306  1.00
5     7        p  ...        0.022463  1.00
6     9        p  ...        0.007575  1.00
7    15        p  ...        0.001437  1.00
8    12        p  ...        0.002808  1.00
9    10        p  ...        0.039441  1.00
10    8        p  ...        0.002547  1.00
11   13        p  ...        0.002743  1.00
12   11        p  ...        0.005485  1.00
13   14        p  ...        0.005093  1.00
14   18        s  ...        0.062035  1.00
15   23        p  ...        0.013060  1.00
16    1        p  ...        0.004114  1.00
17   17        s  ...        0.013648  1.00
18   25        s  ...        0.017696  1.00
19   28        s  ...        0.028536  1.00
20   16        p  ...        0.014235  1.00
21   20        p  ...        0.007118  1.00
22   22        p  ...        0.022463  1.00
23   21        p  ...        0.036829  1.00
24   26        w  ...        0.025206  0.23
25   19        w  ...        0.154826  0.23
26   29        w  ...        0.029189  0.23
27   33        p  ...        0.025402  1.00
28   31        e  ...        0.035523  1.00
29   24        e  ...        0.177746  1.00
30   27        e  ...        0.140852  1.00
31   32        e  ...        0.050673  1.00
32   30        e  ...        0.021092  1.00

[33 rows x 9 columns]

     SUB  LUC     Area_Ha
0      1    1  379.205071
1      1    2  154.025886
2      1    6    0.343068
3      1    7   44.660720
4      1   10    0.139275
..   ...  ...         ...
221   33    6    3.521194
222   33    7    5.271894
223   33    9    4.390090
224   33   10    3.658271
225   33   13    0.005566

[226 rows x 3 columns]

Difference in Total Area (Ha): 0.0
2

    SUB Terminus                      SubW_Name  ...  ResUnits  ResImp_Fraction  c_T
0     4        p                 Deep Pond GT10  ...         0         0.000000  1.0
1     6        p              Crooked Pond GT10  ...        21         0.001371  1.0
2     2        p         Coonamessett Pond LT10  ...       311         0.020308  1.0
3     5        p                 Deep Pond LT10  ...       110         0.007183  1.0
4     3        p                     Round Pond  ...        20         0.001306  1.0
5     7        p              Crooked Pond LT10  ...       344         0.022463  1.0
6     9        p                     Round Pond  ...       116         0.007575  1.0
7    15        p                 Flax Pond GT10  ...        22         0.001437  1.0
8    12        p                Mares Pond GT10  ...        43         0.002808  1.0
9    10        p                   Jenkins Pond  ...       604         0.039441  1.0
10    8        p                   Shallow Pond  ...        39         0.002547  1.0
11   13        p                Mares Pond LT10  ...        42         0.002743  1.0
12   11        p                      Deer Pond  ...        84         0.005485  1.0
13   14        p                 Spectacle Pond  ...        78         0.005093  1.0
14   18        s  Upper Coonamessett River LT10  ...       950         0.062035  1.0
15   23        p               Great Pond GT10E  ...       200         0.013060  1.0
16    1        p         Coonamessett Pond GT10  ...        63         0.004114  1.0
17   17        s  Upper Coonamessett River GT10  ...       209         0.013648  1.0
18   25        s              Backus Brook GT10  ...       271         0.017696  1.0
19   28        s             Bournes Brook GT10  ...       437         0.028536  1.0
20   16        p                 Flax Pond LT10  ...       218         0.014235  1.0
21   20        p                Perch Pond GT10  ...       109         0.007118  1.0
22   22        p               Great Pond GT10W  ...       344         0.022463  1.0
23   21        p                Perch Pond LT10  ...       564         0.036829  1.0
24   26        s              Backus Brook LT10  ...       386         0.025206  1.0
25   19        s       Lower Coonamessett River  ...      2371         0.154826  1.0
26   29        s             Bournes Brook LT10  ...       447         0.029189  1.0
27   33        p                      Mill Pond  ...       389         0.025402  1.0
28   31        e              Bournes Pond GT10  ...       544         0.035523  1.0
29   24        e                Great Pond LT10  ...      2722         0.177746  1.0
30   27        e                     Green Pond  ...      2157         0.140852  1.0
31   32        e              Bournes Pond LT10  ...       776         0.050673  1.0
32   30        e                   Israels Cove  ...       323         0.021092  1.0

[33 rows x 9 columns]

     SUB  LUC     Area_Ha
0      1    1  379.205071
1      1    2  154.025886
2      1    6    0.343068
3      1    7   44.660720
4      1   10    0.139275
..   ...  ...         ...
224   33    6    3.521194
225   33    7    5.271894
226   33    9    4.390090
227   33   10    3.658271
228   33   13    0.005566

[229 rows x 3 columns]

Difference in Total Area (Ha): 0.0
3

    SUB Terminus                      SubW_Name  ...  ResUnits  ResImp_Fraction  c_T
0     4        p                 Deep Pond GT10  ...         0         0.000000  1.0
1     6        p              Crooked Pond GT10  ...        21         0.001371  1.0
2     2        p         Coonamessett Pond LT10  ...       311         0.020308  1.0
3     5        p                 Deep Pond LT10  ...       110         0.007183  1.0
4     3        p                     Round Pond  ...        20         0.001306  1.0
5     7        p              Crooked Pond LT10  ...       344         0.022463  1.0
6     9        p                     Round Pond  ...       116         0.007575  1.0
7    15        p                 Flax Pond GT10  ...        22         0.001437  1.0
8    12        p                Mares Pond GT10  ...        43         0.002808  1.0
9    10        p                   Jenkins Pond  ...       604         0.039441  1.0
10    8        p                   Shallow Pond  ...        39         0.002547  1.0
11   13        p                Mares Pond LT10  ...        42         0.002743  1.0
12   11        p                      Deer Pond  ...        84         0.005485  1.0
13   14        p                 Spectacle Pond  ...        78         0.005093  1.0
14   18        s  Upper Coonamessett River LT10  ...       950         0.062035  1.0
15   23        p               Great Pond GT10E  ...       200         0.013060  1.0
16    1        p         Coonamessett Pond GT10  ...        63         0.004114  1.0
17   17        s  Upper Coonamessett River GT10  ...       209         0.013648  1.0
18   25        s              Backus Brook GT10  ...       271         0.017696  1.0
19   28        s             Bournes Brook GT10  ...       437         0.028536  1.0
20   16        p                 Flax Pond LT10  ...       218         0.014235  1.0
21   20        p                Perch Pond GT10  ...       109         0.007118  1.0
22   22        p               Great Pond GT10W  ...       344         0.022463  1.0
23   21        p                Perch Pond LT10  ...       564         0.036829  1.0
24   26        s              Backus Brook LT10  ...       386         0.025206  1.0
25   19        s       Lower Coonamessett River  ...      2371         0.154826  1.0
26   29        s             Bournes Brook LT10  ...       447         0.029189  1.0
27   33        p                      Mill Pond  ...       389         0.025402  1.0
28   31        e              Bournes Pond GT10  ...       544         0.035523  1.0
29   24        e                Great Pond LT10  ...      2722         0.177746  1.0
30   27        e                     Green Pond  ...      2157         0.140852  1.0
31   32        e              Bournes Pond LT10  ...       776         0.050673  1.0
32   30        e                   Israels Cove  ...       323         0.021092  1.0

[33 rows x 9 columns]

     SUB  LUC     Area_Ha
0      1    1  379.205071
1      1    2  154.025886
2      1    6    0.343068
3      1    7   44.660720
4      1   10    0.139275
..   ...  ...         ...
224   33    6    3.521194
225   33    7    5.271894
226   33    9    4.390090
227   33   10    3.658271
228   33   13    0.005566

[229 rows x 3 columns]

Difference in Total Area (Ha): 0.0
4

    SUB Terminus  ... ResImp_Fraction   c_T
0     4        p  ...        0.000000  1.00
1     6        p  ...        0.001371  1.00
2     2        p  ...        0.020308  1.00
3     5        p  ...        0.007183  1.00
4     3        p  ...        0.001306  1.00
5     7        p  ...        0.022463  1.00
6     9        p  ...        0.007575  1.00
7    15        p  ...        0.001437  1.00
8    12        p  ...        0.002808  1.00
9    10        p  ...        0.039441  1.00
10    8        p  ...        0.002547  1.00
11   13        p  ...        0.002743  1.00
12   11        p  ...        0.005485  1.00
13   14        p  ...        0.005093  1.00
14   18        s  ...        0.062035  1.00
15   23        p  ...        0.013060  1.00
16    1        p  ...        0.004114  1.00
17   17        s  ...        0.013648  1.00
18   25        s  ...        0.017696  1.00
19   28        s  ...        0.028536  1.00
20   16        p  ...        0.014235  1.00
21   20        p  ...        0.007118  1.00
22   22        p  ...        0.022463  1.00
23   21        p  ...        0.036829  1.00
24   26        w  ...        0.025206  0.23
25   19        w  ...        0.154826  0.23
26   29        w  ...        0.029189  0.23
27   33        p  ...        0.025402  1.00
28   31        e  ...        0.035523  1.00
29   24        e  ...        0.177746  1.00
30   27        e  ...        0.140852  1.00
31   32        e  ...        0.050673  1.00
32   30        e  ...        0.021092  1.00

[33 rows x 9 columns]

     SUB  LUC     Area_Ha
0      1    1  379.205071
1      1    2  154.025886
2      1    6    0.343068
3      1    7   44.660720
4      1   10    0.139275
..   ...  ...         ...
219   33    6    3.521194
220   33    7    5.271894
221   33    9    4.390090
222   33   10    3.658271
223   33   13    0.005566

[224 rows x 3 columns]

Difference in Total Area (Ha): 0.0

In [351]:
df1_dict = {'w': 0.23,
'c': 1,
'e': 1,
's': 1,
'p': 0.5}
df1_conditions = '['+', '.join(['df1_i.Terminus =="' + k+'"' for k in df1_dict.keys()])+']'
df2_dict = {'9': 1,
'10': 1}
df2_conditions = '['+', '.join(['df2_i.Terminus =="' + k+'"' for k in df2_dict.keys()])+']'
# change terminus classifications    
for i in (LUC_scenarios.keys()):
    print (i) 

    df1_i = pd.merge(out_df1[["SUB","Terminus"+str(i)]],
                     out_df1.loc[:, np.invert(out_df1.columns.str.startswith('Terminus'))])
    df1_i = df1_i.rename(columns={'Terminus'+str(i):'Terminus'})
    df1_i['c_T'] = np.select(eval(df1_conditions),df1_dict.values(),default=1)
    display(df1_i)
    df1_i.to_csv(os.path.join(odr,"GGBP_Terminus_and_Pop"+str(i)+".csv"))

    # then sum up area by land use and subwatershed and assign terminus coefficients
    df2_i = out_df2[['SUB','LUC'+str(i),'Area_Ha']]
    df2_i = df2_i.groupby(['SUB','LUC'+str(i)])['Area_Ha'].sum().reset_index(name='Area_Ha')
    df2_i = df2_i.rename(columns={'LUC'+str(i):'LUC'})
    '''
    df_SUB_LUC = pd.DataFrame({"SUB":SUBs,"LUC":LUCs})
    display(df_SUB_LUC)
    display(df_SUB_LUC_merged)
    df2_i = pd.merge(df_SUB_LUC,df2_i,'left')
    Area_Ha = df_SUB_LUC_merged['Area_Ha'].fillna(0) + df2_i['Area_Ha'].fillna(0)
    print(Area_Ha.sum())
    print(len(Area_Ha))
    df_SUB_LUC_AREA = df_SUB_LUC
    df_SUB_LUC_AREA['Area_Ha'] = Area_Ha
    df2_i = pd.merge(df_SUB_LUC_AREA,df1_i[['SUB','Terminus']])
    df2_i['c_T'] = np.select(eval(df2_conditions),df2_dict.values(),default=1)
    print("!!!!!!!!!!!!displaying df2_i after merge")
    '''
    display(df2_i)
    df2_i.to_csv(os.path.join(odr,"GGBP_LUC_Area_p05_"+str(i)+".csv"))
    
    # check that area is within one tenth of a Ha of input
    print('Difference in Total Area (Ha):',round(out_df1['Area_Ha'].sum() - df2_i['Area_Ha'].sum(),1))

0

    SUB Terminus                      SubW_Name  ...  ResUnits  ResImp_Fraction  c_T
0     4        p                 Deep Pond GT10  ...         0         0.000000  0.5
1     6        p              Crooked Pond GT10  ...        21         0.001371  0.5
2     2        p         Coonamessett Pond LT10  ...       311         0.020308  0.5
3     5        p                 Deep Pond LT10  ...       110         0.007183  0.5
4     3        p                     Round Pond  ...        20         0.001306  0.5
5     7        p              Crooked Pond LT10  ...       344         0.022463  0.5
6     9        p                     Round Pond  ...       116         0.007575  0.5
7    15        p                 Flax Pond GT10  ...        22         0.001437  0.5
8    12        p                Mares Pond GT10  ...        43         0.002808  0.5
9    10        p                   Jenkins Pond  ...       604         0.039441  0.5
10    8        p                   Shallow Pond  ...        39         0.002547  0.5
11   13        p                Mares Pond LT10  ...        42         0.002743  0.5
12   11        p                      Deer Pond  ...        84         0.005485  0.5
13   14        p                 Spectacle Pond  ...        78         0.005093  0.5
14   18        s  Upper Coonamessett River LT10  ...       950         0.062035  1.0
15   23        p               Great Pond GT10E  ...       200         0.013060  0.5
16    1        p         Coonamessett Pond GT10  ...        63         0.004114  0.5
17   17        s  Upper Coonamessett River GT10  ...       209         0.013648  1.0
18   25        s              Backus Brook GT10  ...       271         0.017696  1.0
19   28        s             Bournes Brook GT10  ...       437         0.028536  1.0
20   16        p                 Flax Pond LT10  ...       218         0.014235  0.5
21   20        p                Perch Pond GT10  ...       109         0.007118  0.5
22   22        p               Great Pond GT10W  ...       344         0.022463  0.5
23   21        p                Perch Pond LT10  ...       564         0.036829  0.5
24   26        s              Backus Brook LT10  ...       386         0.025206  1.0
25   19        s       Lower Coonamessett River  ...      2371         0.154826  1.0
26   29        s             Bournes Brook LT10  ...       447         0.029189  1.0
27   33        p                      Mill Pond  ...       389         0.025402  0.5
28   31        e              Bournes Pond GT10  ...       544         0.035523  1.0
29   24        e                Great Pond LT10  ...      2722         0.177746  1.0
30   27        e                     Green Pond  ...      2157         0.140852  1.0
31   32        e              Bournes Pond LT10  ...       776         0.050673  1.0
32   30        e                   Israels Cove  ...       323         0.021092  1.0

[33 rows x 9 columns]

     SUB  LUC     Area_Ha
0      1    1  379.205071
1      1    2  154.025886
2      1    6    0.343068
3      1    7   44.660720
4      1   10    0.139275
..   ...  ...         ...
224   33    6    3.521194
225   33    7    5.271894
226   33    9    4.390090
227   33   10    3.658271
228   33   13    0.005566

[229 rows x 3 columns]

Difference in Total Area (Ha): 0.0
1

    SUB Terminus  ... ResImp_Fraction   c_T
0     4        p  ...        0.000000  0.50
1     6        p  ...        0.001371  0.50
2     2        p  ...        0.020308  0.50
3     5        p  ...        0.007183  0.50
4     3        p  ...        0.001306  0.50
5     7        p  ...        0.022463  0.50
6     9        p  ...        0.007575  0.50
7    15        p  ...        0.001437  0.50
8    12        p  ...        0.002808  0.50
9    10        p  ...        0.039441  0.50
10    8        p  ...        0.002547  0.50
11   13        p  ...        0.002743  0.50
12   11        p  ...        0.005485  0.50
13   14        p  ...        0.005093  0.50
14   18        s  ...        0.062035  1.00
15   23        p  ...        0.013060  0.50
16    1        p  ...        0.004114  0.50
17   17        s  ...        0.013648  1.00
18   25        s  ...        0.017696  1.00
19   28        s  ...        0.028536  1.00
20   16        p  ...        0.014235  0.50
21   20        p  ...        0.007118  0.50
22   22        p  ...        0.022463  0.50
23   21        p  ...        0.036829  0.50
24   26        w  ...        0.025206  0.23
25   19        w  ...        0.154826  0.23
26   29        w  ...        0.029189  0.23
27   33        p  ...        0.025402  0.50
28   31        e  ...        0.035523  1.00
29   24        e  ...        0.177746  1.00
30   27        e  ...        0.140852  1.00
31   32        e  ...        0.050673  1.00
32   30        e  ...        0.021092  1.00

[33 rows x 9 columns]

     SUB  LUC     Area_Ha
0      1    1  379.205071
1      1    2  154.025886
2      1    6    0.343068
3      1    7   44.660720
4      1   10    0.139275
..   ...  ...         ...
221   33    6    3.521194
222   33    7    5.271894
223   33    9    4.390090
224   33   10    3.658271
225   33   13    0.005566

[226 rows x 3 columns]

Difference in Total Area (Ha): 0.0
2

    SUB Terminus                      SubW_Name  ...  ResUnits  ResImp_Fraction  c_T
0     4        p                 Deep Pond GT10  ...         0         0.000000  0.5
1     6        p              Crooked Pond GT10  ...        21         0.001371  0.5
2     2        p         Coonamessett Pond LT10  ...       311         0.020308  0.5
3     5        p                 Deep Pond LT10  ...       110         0.007183  0.5
4     3        p                     Round Pond  ...        20         0.001306  0.5
5     7        p              Crooked Pond LT10  ...       344         0.022463  0.5
6     9        p                     Round Pond  ...       116         0.007575  0.5
7    15        p                 Flax Pond GT10  ...        22         0.001437  0.5
8    12        p                Mares Pond GT10  ...        43         0.002808  0.5
9    10        p                   Jenkins Pond  ...       604         0.039441  0.5
10    8        p                   Shallow Pond  ...        39         0.002547  0.5
11   13        p                Mares Pond LT10  ...        42         0.002743  0.5
12   11        p                      Deer Pond  ...        84         0.005485  0.5
13   14        p                 Spectacle Pond  ...        78         0.005093  0.5
14   18        s  Upper Coonamessett River LT10  ...       950         0.062035  1.0
15   23        p               Great Pond GT10E  ...       200         0.013060  0.5
16    1        p         Coonamessett Pond GT10  ...        63         0.004114  0.5
17   17        s  Upper Coonamessett River GT10  ...       209         0.013648  1.0
18   25        s              Backus Brook GT10  ...       271         0.017696  1.0
19   28        s             Bournes Brook GT10  ...       437         0.028536  1.0
20   16        p                 Flax Pond LT10  ...       218         0.014235  0.5
21   20        p                Perch Pond GT10  ...       109         0.007118  0.5
22   22        p               Great Pond GT10W  ...       344         0.022463  0.5
23   21        p                Perch Pond LT10  ...       564         0.036829  0.5
24   26        s              Backus Brook LT10  ...       386         0.025206  1.0
25   19        s       Lower Coonamessett River  ...      2371         0.154826  1.0
26   29        s             Bournes Brook LT10  ...       447         0.029189  1.0
27   33        p                      Mill Pond  ...       389         0.025402  0.5
28   31        e              Bournes Pond GT10  ...       544         0.035523  1.0
29   24        e                Great Pond LT10  ...      2722         0.177746  1.0
30   27        e                     Green Pond  ...      2157         0.140852  1.0
31   32        e              Bournes Pond LT10  ...       776         0.050673  1.0
32   30        e                   Israels Cove  ...       323         0.021092  1.0

[33 rows x 9 columns]

     SUB  LUC     Area_Ha
0      1    1  379.205071
1      1    2  154.025886
2      1    6    0.343068
3      1    7   44.660720
4      1   10    0.139275
..   ...  ...         ...
224   33    6    3.521194
225   33    7    5.271894
226   33    9    4.390090
227   33   10    3.658271
228   33   13    0.005566

[229 rows x 3 columns]

Difference in Total Area (Ha): 0.0
3

    SUB Terminus                      SubW_Name  ...  ResUnits  ResImp_Fraction  c_T
0     4        p                 Deep Pond GT10  ...         0         0.000000  0.5
1     6        p              Crooked Pond GT10  ...        21         0.001371  0.5
2     2        p         Coonamessett Pond LT10  ...       311         0.020308  0.5
3     5        p                 Deep Pond LT10  ...       110         0.007183  0.5
4     3        p                     Round Pond  ...        20         0.001306  0.5
5     7        p              Crooked Pond LT10  ...       344         0.022463  0.5
6     9        p                     Round Pond  ...       116         0.007575  0.5
7    15        p                 Flax Pond GT10  ...        22         0.001437  0.5
8    12        p                Mares Pond GT10  ...        43         0.002808  0.5
9    10        p                   Jenkins Pond  ...       604         0.039441  0.5
10    8        p                   Shallow Pond  ...        39         0.002547  0.5
11   13        p                Mares Pond LT10  ...        42         0.002743  0.5
12   11        p                      Deer Pond  ...        84         0.005485  0.5
13   14        p                 Spectacle Pond  ...        78         0.005093  0.5
14   18        s  Upper Coonamessett River LT10  ...       950         0.062035  1.0
15   23        p               Great Pond GT10E  ...       200         0.013060  0.5
16    1        p         Coonamessett Pond GT10  ...        63         0.004114  0.5
17   17        s  Upper Coonamessett River GT10  ...       209         0.013648  1.0
18   25        s              Backus Brook GT10  ...       271         0.017696  1.0
19   28        s             Bournes Brook GT10  ...       437         0.028536  1.0
20   16        p                 Flax Pond LT10  ...       218         0.014235  0.5
21   20        p                Perch Pond GT10  ...       109         0.007118  0.5
22   22        p               Great Pond GT10W  ...       344         0.022463  0.5
23   21        p                Perch Pond LT10  ...       564         0.036829  0.5
24   26        s              Backus Brook LT10  ...       386         0.025206  1.0
25   19        s       Lower Coonamessett River  ...      2371         0.154826  1.0
26   29        s             Bournes Brook LT10  ...       447         0.029189  1.0
27   33        p                      Mill Pond  ...       389         0.025402  0.5
28   31        e              Bournes Pond GT10  ...       544         0.035523  1.0
29   24        e                Great Pond LT10  ...      2722         0.177746  1.0
30   27        e                     Green Pond  ...      2157         0.140852  1.0
31   32        e              Bournes Pond LT10  ...       776         0.050673  1.0
32   30        e                   Israels Cove  ...       323         0.021092  1.0

[33 rows x 9 columns]

     SUB  LUC     Area_Ha
0      1    1  379.205071
1      1    2  154.025886
2      1    6    0.343068
3      1    7   44.660720
4      1   10    0.139275
..   ...  ...         ...
224   33    6    3.521194
225   33    7    5.271894
226   33    9    4.390090
227   33   10    3.658271
228   33   13    0.005566

[229 rows x 3 columns]

Difference in Total Area (Ha): 0.0
4

    SUB Terminus  ... ResImp_Fraction   c_T
0     4        p  ...        0.000000  0.50
1     6        p  ...        0.001371  0.50
2     2        p  ...        0.020308  0.50
3     5        p  ...        0.007183  0.50
4     3        p  ...        0.001306  0.50
5     7        p  ...        0.022463  0.50
6     9        p  ...        0.007575  0.50
7    15        p  ...        0.001437  0.50
8    12        p  ...        0.002808  0.50
9    10        p  ...        0.039441  0.50
10    8        p  ...        0.002547  0.50
11   13        p  ...        0.002743  0.50
12   11        p  ...        0.005485  0.50
13   14        p  ...        0.005093  0.50
14   18        s  ...        0.062035  1.00
15   23        p  ...        0.013060  0.50
16    1        p  ...        0.004114  0.50
17   17        s  ...        0.013648  1.00
18   25        s  ...        0.017696  1.00
19   28        s  ...        0.028536  1.00
20   16        p  ...        0.014235  0.50
21   20        p  ...        0.007118  0.50
22   22        p  ...        0.022463  0.50
23   21        p  ...        0.036829  0.50
24   26        w  ...        0.025206  0.23
25   19        w  ...        0.154826  0.23
26   29        w  ...        0.029189  0.23
27   33        p  ...        0.025402  0.50
28   31        e  ...        0.035523  1.00
29   24        e  ...        0.177746  1.00
30   27        e  ...        0.140852  1.00
31   32        e  ...        0.050673  1.00
32   30        e  ...        0.021092  1.00

[33 rows x 9 columns]

     SUB  LUC     Area_Ha
0      1    1  379.205071
1      1    2  154.025886
2      1    6    0.343068
3      1    7   44.660720
4      1   10    0.139275
..   ...  ...         ...
219   33    6    3.521194
220   33    7    5.271894
221   33    9    4.390090
222   33   10    3.658271
223   33   13    0.005566

[224 rows x 3 columns]

Difference in Total Area (Ha): 0.0

In [352]:
# GENERAL 
# change terminus classifications    
for i in (LUC_scenarios.keys()):
    print (i) 

    df1_i = pd.merge(out_df1[["SUB","Terminus"+str(i)]],
                     out_df1.loc[:, np.invert(out_df1.columns.str.startswith('Terminus'))])
    df1_i = df1_i.rename(columns={'Terminus'+str(i):'Terminus'})
    #df1_i['c_T'] = np.select(eval(df1_conditions),df1_dict.values(),default=1)
    display(df1_i)
    df1_i.to_csv(os.path.join(odr,"GGBP_Terminus_and_Pop_"+str(i)+".csv"))

    # then sum up area by land use and subwatershed and assign terminus coefficients
    df2_i = out_df2[['SUB','LUC'+str(i),'Area_Ha']]
    df2_i = df2_i.groupby(['SUB','LUC'+str(i)])['Area_Ha'].sum().reset_index(name='Area_Ha')
    df2_i = df2_i.rename(columns={'LUC'+str(i):'LUC'})
    df2_i = pd.merge(df2_i,df1_i[['SUB','Terminus']],'inner')
    display(df2_i)
    df2_i.to_csv(os.path.join(odr,"GGBP_LUC_Area_"+str(i)+".csv"))
    
    # check that area is within one tenth of a Ha of input
    print('Difference in Total Area (Ha):',round(out_df1['Area_Ha'].sum() - df2_i['Area_Ha'].sum(),1))

0

    SUB Terminus  ... ResUnits  ResImp_Fraction
0     4        p  ...        0         0.000000
1     6        p  ...       21         0.001371
2     2        p  ...      311         0.020308
3     5        p  ...      110         0.007183
4     3        p  ...       20         0.001306
5     7        p  ...      344         0.022463
6     9        p  ...      116         0.007575
7    15        p  ...       22         0.001437
8    12        p  ...       43         0.002808
9    10        p  ...      604         0.039441
10    8        p  ...       39         0.002547
11   13        p  ...       42         0.002743
12   11        p  ...       84         0.005485
13   14        p  ...       78         0.005093
14   18        s  ...      950         0.062035
15   23        p  ...      200         0.013060
16    1        p  ...       63         0.004114
17   17        s  ...      209         0.013648
18   25        s  ...      271         0.017696
19   28        s  ...      437         0.028536
20   16        p  ...      218         0.014235
21   20        p  ...      109         0.007118
22   22        p  ...      344         0.022463
23   21        p  ...      564         0.036829
24   26        s  ...      386         0.025206
25   19        s  ...     2371         0.154826
26   29        s  ...      447         0.029189
27   33        p  ...      389         0.025402
28   31        e  ...      544         0.035523
29   24        e  ...     2722         0.177746
30   27        e  ...     2157         0.140852
31   32        e  ...      776         0.050673
32   30        e  ...      323         0.021092

[33 rows x 8 columns]

PermissionError: [Errno 13] Permission denied: 'C:\\Workspace\\Geodata\\Nload\\outputs\\GGBP_Terminus_and_Pop_0.csv'

# then sum up area by land use and subwatershed    
for i in list(LUC_scenarios.keys()):
    print (i)   
    # Aggregate Data with Pandas .groupby()
    df2_i = df2.groupby(['SUB','LUC'+str(i)])['Area_Ha'].sum().reset_index(name='Area_Ha')

    df2_i = df2_i.rename(columns={'LUC'+str(i):'LUC',
                               'Terminus'+str(i):'Terminus',
                            'Area_Ha'+str(i):'Area_Ha'})
    df2_i.to_csv(os.path.join(odr,"Wareham_LUC_Area"+str(i)+".csv"))
    display(df2_i)
    # check that area is within one tenth of a Ha of input
    print('Difference in Total Area (Ha):',round(df2['Area_Ha'].sum() - df2_i['Area_Ha'].sum(),1))

    df1_i = pd.merge(out_df1[["SUB","Terminus"+str(i)]],
                     out_df1.loc[:, np.invert(out_df1.columns.str.startswith('Terminus'))])
    df1_i = df1_i.rename(columns={'Terminus'+str(i):'Terminus'})
    display(df1_i)
    df1_i.to_csv(os.path.join(odr,"Wareham_Terminus_and_Pop"+str(i)+".csv"))





















## Appendix

df_reclass.to_csv(os.path.join(odr,"Nload_LUC_scenarios.csv"))
in_df1.to_csv(os.path.join(odr,"Nload_SUB_scenarios.csv"))

For each scenario sum up areas by land use and subwatershed

Additional scenario (Not to be done this week) (5% population increase, and accompanied displacement 1% increase in).

# Case when statement for land use classification
# dependancies pandas and numpy
import pandas as pd
import numpy as np
import random
# BASELINE 
Bog_FID = np.arange(4)
SHED_ID = [1,2,1,2]
COVERCODE = [22]*4
USEGENCODE = [55]*4
USE_CODE = ["0","0","0710","0761"]*5
CropStatus = ["active","","active","abandoned"]
Bog_type = ["","flowthrough","flowthrough",""]
df = pd.DataFrame(list(zip(Bog_FID,SHED_ID,COVERCODE, USEGENCODE, USE_CODE,CropStatus,Bog_type)),
               columns =['Bog_FID','SHED_ID','COVERCODE', 'USEGENCODE','USE_CODE','CropStatus','Bog_type'])

BASELINE = {
    # key (LUC): value (condition string)
    # "Natural Uplands"
    1: '(df.COVERCODE >= 8) & (df.COVERCODE <= 12)',
    # "Mowed Areas (Lawns, Sports Fields, and Golf Courses)"
    2: 'df.COVERCODE == 5',
    # "Agriculture, Non Cranberry"
    3: 'np.isin(df.COVERCODE,[6,7]) & np.invert(np.isin(df.CropStatus,"active")|np.isin(df.USE_CODE,["710","260","0761","7100","0710"]))',
    # "Agriculture, Active Cranberry, Flowthrough"
    #4: '(df.USEGENCODE == 7)',
    4: 'np.invert(np.isin(df.CropStatus,"abandoned")) & (np.isin(df.CropStatus,"active")|np.isin(df.USE_CODE,["710","260","0761","7100","0710"])) & np.isin(df.Bog_type,"flowthrough")',
    #4: '(df.USEGENCODE == 7) & (df.CropStatus is "active") & (df.Bog_type is "flowthrough")',
    #4: '((df.USEGENCODE == 7 & (np.isin(df.USE_CODE,["270", "710", "7100", "0710", "0761"])) or df.CropStatus is "active") and (df.Bog_type is "flowthrough")',
    # "Agriculture, Active Cranberry, Non Flowthrough"
    5: 'np.invert(np.isin(df.CropStatus,"abandoned")) & (np.isin(df.CropStatus,"active")|np.isin(df.USE_CODE,["710","260","0761","7100","0710"])) & np.invert(np.isin(df.Bog_type,"flowthrough"))',
    #5: '((df.USEGENCODE == 7 & ("710" in df.USE_CODE or "761" in df.USE_CODE)) or df.CropStatus is "active") and (df.Bog_type is not "flowthrough")',
    # "Impervious, Roads"
    6: '(df.COVERCODE == 2) & (df.USEGENCODE == 55)',
    # "Impervious, Non-Roads"
    7: '(df.COVERCODE == 2) & (df.USEGENCODE is not 55)',
    # "Recieving Body (Estuary)"
    8: 'df.COVERCODE == 23',
    # "Freshwater Ponds and Lakes"
    9: 'np.isin(df.COVERCODE,[22,21])',
    # "Wetlands"
    10: '(df.COVERCODE >= 13) & (df.COVERCODE <= 18)',
    # "Retired Cranberry, Flowthrough"
    11: 'np.isin(df.CropStatus,"abandoned") & np.isin(df.Bog_type,"flowthrough")',
    # "Retired Cranberry, Non flowthrough"
    12: 'np.isin(df.CropStatus,"abandoned") & np.invert(np.isin(df.Bog_type,"flowthrough"))',
    # "Other (Bare land or Shoreline)"
    13: 'np.isin(df.COVERCODE,[19,20])'
}

condlist = "["+", ".join(list(BASELINE.values()))+"]"
choicelist = list(BASELINE.keys())
df["LUC"] =  np.select(eval(condlist),choicelist,13)
display(df)

The chunks above are working well. Resume here 5/27/22

The next steps are to finish the scenario encodings below. Then restart the work flow.

# List of cranberry bogs at bottom of subwatersheds
# SHED_ID 4, 31, 33, 34, 35, 41 
BOG_FID_List = [307,301,318,295,294,326,310,242,241,259,269,155,156,148,195,194,193,192]
np.isin(df.LUC,[4,5,11,12]) & np.isin(df.BOG_FID,[1,2,3,6,8])

scenarios = {
    #0. Baseline (Do nothing)
    0: "False",
    #1. Restore Select Bogs to Wetlands
    1: 'np.isin(df.LUC,[4,5,11,12]) & np.isin(df.BOG_FID,[1,2,3,6,8])',
    #2. Restore All Retired Bogs to Wetlands
    2: 'df.CropStatus is "abandoned"',
    #3. Retire All Flowthrough Bogs
    3: 'df.Bog_type is "flowthrough"',
    #4. Retire All Flowthrough Bogs and Restore Them to Wetlands
    4: 'df.Bog_type is "flowthrough"'
}
scenarios.keys()
scenarios.values()

scenarios.keys()
scenarios.values()
#np.where(logic,if_true, if_false)
df["LUC_0"] = np.where(eval(scenarios[0]),df.LUC,df.LUC)

df["LUC_1"] = np.where(eval(scenarios[1]),10,df.LUC)
df["LUC_2"] = np.where(eval(scenarios[2]),10,df.LUC)
df["LUC_3"] = np.where(eval(scenarios[3]),11,df.LUC)
df["LUC_4"] = np.where(eval(scenarios[4]),10,df.LUC)
display(df)

with arcpy.EnvManager(scratchWorkspace=r"C:\Workspace\Geodata\Nload\Default.gdb", workspace=r"C:\Workspace\Geodata\Nload\Default.gdb"):
    arcpy.management.CalculateField("Wareham_Bogs_master_v3", "Restore_TF", "myfun(!FID!)", "PYTHON3", """def myfun (test_string,test_list=None):
    if test_list is None: test_list=[307,301,318,295,294,326,310,242,2241,259,269,155,156,148,195,194,193,192]
    test = any(str(ele) in FID for ele in test_list)
    return(test)""", "TEXT", "NO_ENFORCE_DOMAINS")

# spatial join
spatialJoinOutput = intersectOutput+"_cran"
with arcpy.EnvManager(scratchWorkspace=r"C:\Workspace\Geodata\Nload\Default.gdb", workspace=r"C:\Workspace\Geodata\Nload\Default.gdb"):
    arcpy.analysis.SpatialJoin(intersectOutput, "in_wareham_bogs", spatialJoinOutput, "JOIN_ONE_TO_ONE", "KEEP_ALL", 'FID_LANDCO "FID_LANDCO" true true false 10 Long 0 10,First,#,out_agawam_lclu16,FID_LANDCO,-1,-1;COVERNAME "COVERNAME" true true false 50 Text 0 0,First,#,out_agawam_lclu16,COVERNAME,0,50;COVERCODE "COVERCODE" true true false 5 Long 0 5,First,#,out_agawam_lclu16,COVERCODE,-1,-1;USEGENNAME "USEGENNAME" true true false 50 Text 0 0,First,#,out_agawam_lclu16,USEGENNAME,0,50;USEGENCODE "USEGENCODE" true true false 5 Long 0 5,First,#,out_agawam_lclu16,USEGENCODE,-1,-1;USE_CODE "USE_CODE" true true false 4 Text 0 0,First,#,out_agawam_lclu16,USE_CODE,0,4;POLY_TYPE "POLY_TYPE" true true false 15 Text 0 0,First,#,out_agawam_lclu16,POLY_TYPE,0,15;FY "FY" true true false 5 Long 0 5,First,#,out_agawam_lclu16,FY,-1,-1;TOWN_ID "TOWN_ID" true true false 5 Long 0 5,First,#,out_agawam_lclu16,TOWN_ID,-1,-1;TILENAME "TILENAME" true true false 6 Text 0 0,First,#,out_agawam_lclu16,TILENAME,0,6;Shape_Leng "Shape_Leng" true true false 19 Double 0 0,First,#,out_agawam_lclu16,Shape_Leng,-1,-1;Shape_Area "Shape_Area" true true false 19 Double 0 0,First,#,out_agawam_lclu16,Shape_Area,-1,-1;FID_agawam "FID_agawam" true true false 10 Long 0 10,First,#,out_agawam_lclu16,FID_agawam,-1,-1;sf_area "sf_area" true true false 19 Double 11 18,First,#,out_agawam_lclu16,sf_area,-1,-1;SubWat_Num "SubWat_Num" true true false 4 Short 0 4,First,#,out_agawam_lclu16,SubWat_Num,-1,-1;New_ID "New_ID" true true false 4 Short 0 4,First,#,out_agawam_lclu16,New_ID,-1,-1,in_wareham_bogs,New_ID,-1,-1;ft_perim "ft_perim" true true false 19 Double 11 18,First,#,out_agawam_lclu16,ft_perim,-1,-1;SubW_Names "SubW_Names" true true false 35 Text 0 0,First,#,out_agawam_lclu16,SubW_Names,0,35,in_wareham_bogs,SubW_Names,0,35;SHED_ID "SHED_ID" true true false 254 Text 0 0,First,#,out_agawam_lclu16,SHED_ID,0,254;Terminal_N "Terminal_N" true true false 254 Text 0 0,First,#,out_agawam_lclu16,Terminal_N,0,254;WMA_NO "WMA_NO" true true false 14 Text 0 0,First,#,in_wareham_bogs,WMA_NO,0,14;OWNER "OWNER" true true false 30 Text 0 0,First,#,in_wareham_bogs,OWNER,0,30;ADDRESS "ADDRESS" true true false 30 Text 0 0,First,#,in_wareham_bogs,ADDRESS,0,30;TOWN "TOWN" true true false 22 Text 0 0,First,#,in_wareham_bogs,TOWN,0,22;REGION "REGION" true true false 10 Long 0 10,First,#,in_wareham_bogs,REGION,-1,-1;BOG_NAME "BOG_NAME" true true false 22 Text 0 0,First,#,in_wareham_bogs,BOG_NAME,0,22;STAFF "STAFF" true true false 20 Text 0 0,First,#,in_wareham_bogs,STAFF,0,20;PROGRAM "PROGRAM" true true false 8 Text 0 0,First,#,in_wareham_bogs,PROGRAM,0,8;DATE_ENTER "DATE_ENTER" true true false 8 Date 0 0,First,#,in_wareham_bogs,DATE_ENTER,-1,-1;COMMENT "COMMENT" true true false 60 Text 0 0,First,#,in_wareham_bogs,COMMENT,0,60;BIRTHREG "BIRTHREG" true true false 16 Text 0 0,First,#,in_wareham_bogs,BIRTHREG,0,16;PERMIT_NUM "PERMIT_NUM" true true false 16 Text 0 0,First,#,in_wareham_bogs,PERMIT_NUM,0,16;CropStatus "CropStatus" true true false 20 Text 0 0,First,#,in_wareham_bogs,CropStatus,0,20;Bog_Code "Bog_Code" true true false 254 Text 0 0,First,#,in_wareham_bogs,Bog_Code,0,254;Bog_Name_2 "Bog_Name_2" true true false 254 Text 0 0,First,#,in_wareham_bogs,Bog_Name_2,0,254;Active "Active" true true false 254 Text 0 0,First,#,in_wareham_bogs,Active,0,254;Plant_Year "Plant_Year" true true false 254 Text 0 0,First,#,in_wareham_bogs,Plant_Year,0,254;Variety "Variety" true true false 254 Text 0 0,First,#,in_wareham_bogs,Variety,0,254;Var_Class "Var_Class" true true false 50 Text 0 0,First,#,in_wareham_bogs,Var_Class,0,50;Bog_type "Bog_type" true true false 50 Text 0 0,First,#,in_wareham_bogs,Bog_type,0,50;Area_sqft "Area_sqft" true true false 13 Float 0 0,First,#,in_wareham_bogs,Area_sqft,-1,-1;Area_ha "Area_ha" true true false 13 Float 0 0,First,#,in_wareham_bogs,Area_ha,-1,-1;renovated "renovated" true true false 50 Text 0 0,First,#,in_wareham_bogs,renovated,0,50;ren_yr "ren_yr" true true false 50 Text 0 0,First,#,in_wareham_bogs,ren_yr,0,50;new_upland "new_upland" true true false 50 Text 0 0,First,#,in_wareham_bogs,new_upland,0,50;new_yr "new_yr" true true false 50 Text 0 0,First,#,in_wareham_bogs,new_yr,0,50;Basin_1 "Basin_1" true true false 50 Text 0 0,First,#,in_wareham_bogs,Basin_1,0,50;BOG_FID "BOG_FID" true true false 254 Text 0 0,First,#,in_wareham_bogs,BOG_FID,0,254', "INTERSECT", None, '')

inlayer = spatialJoinOutput
excelpath2 = "C:\\Workspace\\Geodata\\Nload\\outputs\\"+inlayer+".xlsx"
arcpy.conversion.TableToExcel(inlayer,
                              excelpath2,
                              "NAME",
                              "CODE")

# Subwatershed land use area
inname1 = "in_agawam"
inname2 = 'out_agawam_lclu16_cran'
in_df1 = pd.read_excel(os.path.join(odr,inname1+'.xlsx')).rename(columns={'SHED_ID':'SUB','Terminal_N':'Terminus'})


# Subwatershed catchment ids and terminus information
in_df2 = pd.read_excel(os.path.join(odr,inname2+'.xlsx')).rename(columns={'SHED_ID':'SUB','Terminal_N':'Terminus'})
in_df2['Area_Ha'] = in_df2['Shape_Area']/10000

# path to feature class
fc = 'out_agawam_lclu16_cran'
# list of field names that excludes the shape geometry (including geometry messes this up)
flds = [fld.name for fld in arcpy.ListFields(fc) if fld.name != arcpy.Describe(fc).shapeFieldName]
arr = arcpy.da.FeatureClassToNumPyArray(fc,flds)
df = pd.DataFrame(arr)
arr["Shape_Area"].sum()
df["Shape_Area"].sum()
df.groupby('SHED_ID').sum()
df2 = df.groupby('SHED_ID').sum()/10000
df2.sum()

Generate a table of area for 13 land use classes within each subcatchment, by sorting land uses from the following categories. 

Class Number|	Class Name
---|---
2|	Impervious
5|	Developed Open Space
6|	Cultivated Land
7|	Pasture/Hay
8|	Grassland
9|	Deciduous Forest
10|	Evergreen Forest
12|	Scrub/Shrub
13|	Palustrine Forested Wetland (C-CAP)
14|	Palustrine Scrub/Shrub Wetland (C-CAP)
15|	Palustrine Emergent Wetland (C-CAP)
16|	Estuarine Forested Wetland (C-CAP)
17|	Estuarine Scrub/Shrub Wetland (C-CAP)
18|	Estuarine Emergent Wetland (C-CAP)
19|	Unconsolidated Shore
20|	Bare Land
21|	Open Water
22|	Palustrine Aquatic Bed (C-CAP)
23|	Estuarine Aquatic Bed (C-CAP)


USEGENCODE|	USEGENNAME
---|---
0|	Unknown
2|	Open land
3|	Commercial
4|	Industrial
6|	Forest
7|	Agriculture
8|	Recreation
9|	Tax exempt
10| Mixed use, primarily residential
11|	Residential - single family
12|	Residential - multi-family
13|	Residential - other
20|	Mixed use, other
30|	Mixed use, primarily commercial
55|	Right-of-way
88|	Water

df_SUB_LUC1 = df_SUB_LUC_merged
df_SUB_LUC1['SUB'].astype(str)
df_SUB_LUC1['LUC'].astype(str)
df2_SUB_CC_Area['LUC'].astype(str)
df2_SUB_CC_Area['SUB'].astype(str)
print(df2_SUB_CC_Area.columns == df_SUB_LUC1.columns)
print(df2_SUB_CC_Area['Area_Ha'].sum())
print(df_SUB_LUC['Area_Ha'].sum())
print(df_SUB_LUC1['Area_Ha'].sum())
df_merged = pd.merge(df_SUB_LUC1,df2_SUB_CC_Area)
print(df_merged['Area_Ha'].sum())
print(df_merged == df_SUB_LUC1)

df_SUB_LUC1.set_index(['SUB','LUC'], inplace=True)
df2_SUB_CC_Area.set_index(['SUB','LUC'], inplace=True)
df_SUB_LUC1.(df2_SUB_CC_Area)
print(df_SUB_LUC1)
#df_SUB_LUC.merge(df2_SUB_CC_Area,'left').to_csv('df2_SUB_CC_Area.csv')
# check that area is within one tenth of a Ha of input
print('Difference in Total Area (Ha):',round(Total_Area2 - df2_SUB_CC_Area['Area_Ha'].sum(),1))

# add csv to the map with content manager
import arcgis 


#from arcgis.features import SpatialDataFrame
#lyr2 = ap.FeatureSet(fc2)
#sdf2 = SpatialDataFrame.from_layer(lyr2)
#print(fc2)
#lyr2 = arcpy.management.MakeFeatureLayer(fc2)
#sdf2 = SpatialDataFrame.from_layer(lyr2)
aprx = arcpy.mp.ArcGISProject('current')

#print(l)
#print(lyr2)
for m in aprx.listMaps():
    print("Map: {0} Layers".format(m.name))
    i = 0
    for lyr in m.listLayers():
        if lyr.isBroken:
            print(str(i)+" (BROKEN) " + lyr.name)
        else:
            print(str(i)+"   " + lyr.name)
        i = i + 1

m = aprx.listMaps()[1]
print(m.name)
l = m.listLayers()[0]
print(l.name)

sdf2 = pd.DataFrame.spatial.from_layer(l)

# change FID as BOG_FID in attribute table
arcpy.management.CalculateField("in_ggbp_bogs","BOG_FID","!FID!", 
                                "PYTHON3",'',"TEXT","NO_ENFORCE_DOMAINS")

# Create the spatial reference object from MA_LCLU2016
spatial_ref = arcpy.Describe(MA_LCLU2016).spatialReference

# MANAGE PROJECTIONS
arcpy.management.Project("in_wareham_bogs", 
                         "prj_wareham_bogs",
                         spatial_ref)
arcpy.management.Project("in_agawam", 
                         "prj_agawam",
                        spatial_ref)